[2015-08-28 21:58] javrasya opened #1 "Handlers does not work when there is multiple worker is running like Gunicorn"
This is probably because of production environment is working as multiple worker with Gunicorn. Handlers are registered in a worker but triggering that handlers is done probably in another worker. This should be handled by introducing shared memory object for handlers. Redis, Database or another strategy can be used for handler registration

[2015-08-30 18:23] javrasya opened #4 "Python 3.3 support"

[2015-08-30 18:23] javrasya opened #5 "Python 3.4 support"

[2015-08-30 18:23] javrasya opened #6 "pypy support"

[2015-08-30 18:24] javrasya opened #7 "pypy3 support"

[2015-08-31 12:50] #1 closed

[2015-08-31 12:51] javrasya opened #8 "Amqp handler backend support"

[2015-08-31 15:54] #7 closed

[2015-08-31 15:54] #5 closed

[2015-08-31 15:54] #6 closed

[2015-09-03 04:33] george-silva opened #10 "Warnings when using Django 1.8"
Hello guys,

Cool project! I'm just testing this and it seems that there are a bunch of warnings here related to the deprecation of explicit label apps. I'm not sure why this is happening, but I'm using also django-tenants and I'm treating this as a tenant app (I'll get the same models that we have on river for each schema, each schema corresponding to a single customer).

[code]

Not sure if this

[2015-09-03 05:07] george-silva opened #11 "Error when creating a simple app with StateField"
Hello again.

This migration is failing:

[code]

The model is pretty darn simple:

[code]

Full trace:

[code]

[2015-09-03 06:55] javrasya commented on #10
Yeah. I have saw that warning for a long time. I didn't care about it :-) . But it seems that it bothers. Actually it will really be bothering when Django 1.9 is released. So, It'll be fixed in next version. After my commit about it, you can also use github master brach to pip install. Thank you for reporting.

[2015-09-03 06:58] #10 closed

[2015-09-03 07:02] javrasya commented on #11
You can pip install from master brach to use it at the moment. It will be in release `0.5.1` Can you please remove your actual migrations an recreate them after re install `django-river`. This is supposed to be fixed by the last commit.

[2015-09-03 07:02] #11 closed

[2015-09-03 07:33] javrasya commented on #11
Version `0.5.1` is available.

[2015-09-03 09:06] javrasya opened #13 "Removing access to database on DatabaseHandlerBackend initialisation."
When DatabaseHandlerBackend is used in settings; it tries to find river_handler table on every django setup. There are some django setup phase which is before database is created like showmigrations, makemigrations etc. These commands does raises `table not found` error.

[2015-09-03 10:09] #13 closed

[2015-09-04 03:10] george-silva commented on #11
@javrasya: cool, I'll test it out.

[2015-09-04 03:10] george-silva commented on #10
:clap:

[2015-09-04 03:13] george-silva commented on #10
@javrasya still getting the warnings. Current version: 0.5.2

[2015-09-04 03:17] george-silva commented on #11
:clap:

Tested. Works perfectly. Congratulations and thanks for the superquick fix.

[2015-09-04 03:36] george-silva opened #14 "Autoregister models in admin.py"
We need to register all the necessary models that apply in admin.

I'll write a patch for this one.

[2015-09-04 03:57] george-silva opened #16 "[Conceptual] Workflow model"
Hello all,

Ok, I've been playing with river and it seems very nice. I have a question, of conceptual nature:

We have states, which have transitions and proceedings meta, which governs who can trigger the transitions.

But what if I want to model multiple workflows? Let's say I have one workflow for approving blueprints of homes in a city hall. And I have a specific workflow for approving tickets

[2015-09-04 05:57] javrasya commented on #10
These are models in Django itself. I am sure that they are gonna fix it with release 1.9 :-)

[2015-09-04 06:31] javrasya commented on #16
If I don't misunderstand you; `django-river` supports multiple parallels workflows(Actually I should add this into Feature part in the docs). It supports even multiple `StateField`(I am not sure there may be some bugs but I desinged it to support multiple statefield in a model.). There are two things which identify the workflow in `django-river`; They are `content_type` and `field_name`. You can s

[2015-09-08 13:00] javrasya opened #17 "Proceedings are not available while the user have irrelevant group."
When there are multiple groups or permissions of user and theese groups and permissions are not related with workflow. Proceedings are not availabe.

[2015-09-08 13:00] #17 closed

[2015-12-16 09:10] seyhbold opened #19 "django 1.9 support"
Hi,

when I try django-river with django 1.9 I get an exception when invoking `python manage.py`

[code]

Any chance to get this fixed?

Thank you very much

[2016-03-08 21:59] dave4jr commented on #19
+1

[2016-04-26 14:08] javrasya commented on #19
Can u just upgrade `django-river` to 0.7.0 . It should be fixed.

[2016-04-26 14:24] #19 closed

[2016-05-24 12:16] #14 closed

[2016-06-09 02:04] vinceyang15 opened #24 "What's the usage of direction field in the Transition model?"

[2016-06-09 10:48] javrasya commented on #24
Direction field helps django-river to detect circular scenarios. Sometimes you go back in your scenarios or you may not need it. In jira example, all of transitions are forward, but resolved to re-opened transition should be backward. Becuase, if you are going to re-opened state from resolved, it means you are going back.

Actually django-river can't detect "you are going back", I am working on it

[2016-06-09 10:56] vinceyang15 commented on #24
Hello  @javrasya ,

Thanks for your answer.

I have following scenario, say my workflow has two states, one is **accepted** and the other one is **denied**. I want to be able to transit between these two states, meaning to say I can go from Accepted to Denied and the other way around. In this case, shall I label one of transition backward?

[2016-06-09 14:39] javrasya commented on #24
Don't you need initial state which is like PENDING?

[2016-06-09 14:54] vinceyang15 commented on #24
Yes, there is a pending status.

Basically, so the transition I want is something like:
- Pending --> Accepted
- Accepted --> Denied
- Denied --> Accepted

Do I need to label Denied --> Accepted backward?

[2016-06-09 14:57] javrasya commented on #24
I think only Accepted to Denied should be backward. I can't try it right now. Please let me know is there a problem.

[2016-08-01 09:02] moganty opened #26 "Does django-river support multiple models with different states"
Does django-river support multiple models with different states. For example one model has open, inprogress, close state and other model has draft, approved, open, close.

[2016-08-01 10:10] javrasya commented on #26
Yes, it does. On creating `ProceedingMeta`, content type of the model is given. `django-river` handles things with this content type to distinguish transitions and their authorizations for different models.

[2016-08-01 16:22] moganty commented on #26
Thanks. I could not find in docs.

[2016-08-08 20:59] amrox opened #27 "ImportError: No module named 'proceeding_meta'"
I get this error with 0.8.1

[code]

If I comment out the import statement in [river/admin/__init.py__](https://github.com/javrasya/django-river/blob/master/river/admin/__init__.py#L9) it works

[2016-08-09 06:15] javrasya opened #28 "Detecting direction of a transition automatically"
Transition direction is given manually. This should be detected by django-river automatically. Because this causes some complexity.

[2016-08-11 20:09] javrasya opened #29 "django 1.10 support"

[2016-08-12 08:06] javrasya commented on #27
I also removed the part and released `0.8.2`.

[2016-08-12 08:06] #27 closed

[2016-08-12 08:06] javrasya commented on #29
Released in 0.8.2

[2016-08-12 08:06] #29 closed

[2016-08-12 08:06] #24 closed

[2016-08-12 08:07] javrasya commented on #26
Documentation is updated.

[2016-08-12 08:07] #26 closed

[2016-10-13 11:32] psychok7 opened #30 "NodeNotFoundError Migration error(Python 3)"
Hi, i am trying django-river 0.8.2 + Django=1.10 and i am running into a migration error.

my model is:

[code]

here is the traceback:

[code]

Any ideas??

[2016-10-13 11:33] psychok7 commented on #30
@javrasya let me know if you need more information

[2016-10-13 11:55] psychok7 commented on #30
After fiddling around i think i may have found the root problem and a workaround.

so basically my 0001_initial.py is generating this

[code]
This migration does not exist in the source code (and i am not sure were is it coming from) so i changed the migration to:

[code]

I noticed then that there was one migration left to do (the actual 0007)
[code]

Hope this helps

[2016-10-13 18:04] psychok7 opened #32 "Question about workflow model design"
@javrasya I trying out django-river, and i noticed that if i do `MyModel.objects.all()` i get a `AttributeError: type object 'MyModel' has no attribute 'objects'`, but if i do `MyModel.workflow.get_queryset().all()` it works.

Is this a bug or a design decision?? How does it work in the admin out of the box then, but when i try it manually i run into that error? Would i always have to use the `.wo

[2016-10-13 19:29] javrasya commented on #32
Sometimes, user may have their own custom manager on `objects` field. Overriding this field regardlessly is not good for a third party application. This is why I seperated it as different variable as `workflow` manager. So, this is design desicion as you say.

I don't actually remember the reason exactly. A situation poped up and I decided to change variable name. Now I remember the reason like it

[2016-10-13 19:35] psychok7 commented on #32
@javrasya how do you make it work with django admin out of the box then?

Anyways nowadays that sites are API driven its important to keep things compatible with Django Rest Framework out of the box as well (at least). If you have entire control of the codebase then .workflow should be fine but with third party apps and all a simple `MyModel.objects....` would crash the app. Please revise that the

[2016-10-13 19:43] javrasya commented on #32
I don't see that the reason you use `django-river` for your regular actions like create etc. There must be some other problem about your code because `objects` manager should still remain in your model. Can you share you model code?

[2016-10-13 19:46] javrasya commented on #32
There are two thing can be done via `django-river` `workflow` manager which is an instance of `WorkflowObjectManager`which are `get_objects_waiting_for_approval` and `get_object_count_waiting_for_approval`. So these are not actually the things you want to use with django-restframework.

[2016-10-13 20:01] psychok7 commented on #32
@javrasya this is my model:

[code]

Unless it's something related to this issue https://github.com/javrasya/django-river/issues/30

[2016-10-13 21:15] javrasya opened #33 "djangor-river removes default `objects` manager from the model"
Django river is adding its own manager named `workflow` to the model. But, django detects it and decide there is no need to add default one which is `objects` automatically.

This is related with issue #32.

[2016-10-13 21:19] javrasya commented on #32
Django admin detects default manager and works with it actually. Probably django gives it to admin. In django source code;
`models/base.py`
[code]

Django decides that, there is already a manager in this model and no need to add default one which is `objects` one. If you are struggle with this issue with djang-restfreamwork, it is probably doesn't ask django get me default manger unlike django adm

[2016-10-13 21:29] psychok7 commented on #32
@javrasya aha... pure magic ;)

Yeah there should be an "easy" way for you to let .objects being accessible, maybe inherit from the same model manager as .objects and then add you django-river/workflow methods on top of it??

[2016-10-14 18:36] psychok7 opened #34 "There is no available initial state for the content type"
@javrasya This issue is somehow related to this one https://github.com/javrasya/django-river/issues/32

So basically after creating my model with the `status = StateField(editable=False)` and migrating on an existing DB, i noticed that i had to do a makemigrations/migrate again for it to create an automatic proceeding migration `0007_auto_20161014_1736`.
Without this migrations, i would run into t

[2016-10-15 14:45] javrasya commented on #30
I think there is a problem with `python 3`, because here is the result with `python 2.7`
[code]

I could reproduce your case with `python 3`. I am looking at it.

[2016-10-15 15:07] javrasya commented on #30
I create migrations with `python 2.7` most of time. In a weird way, python2.7 could't detect a migration which is `0007` one somehow `python3` can detect. I will create this migration with `python3` and commit it.

[2016-10-15 15:19] javrasya commented on #30
@psychok7 could you please test it with master branch, it supposed to be fixed, I commited the missing migration file.

[2016-10-15 15:20] javrasya commented on #30
Please, do not forget to install it with --upgrade to delete previous django-river to reset migrations. Because you created 0007 in your workspace right.

[2016-10-15 15:28] javrasya commented on #34
This is happening because you probably didn't define your workflow scenarios yet. I mean, django-river tries to detect initial state in your workflow scenario according to one defined for your model content type and put this initial state into your model instances. This is done by django-river at two different time. Whenever you create a new instance from your model, and whenever you migrate your

[2016-10-15 19:03] psychok7 commented on #30
@javrasya oh ok, i will try to test it tomorrow or monday morning and let you know

[2016-10-15 19:06] psychok7 commented on #34
@javrasya oh i see.. since i am running it as a test i probably forgot to create the State, Transition and Proceeding objects to go along my test. When i test it manually everything works because i already have them in my database. I will try that and let you know if it works. Thanks

[2016-10-17 10:52] psychok7 commented on #34
@javrasya i still haven't figured it out. I tried recreating my admin workflow scenario in my test but still getting the `river.utils.exceptions.RiverException: There is no available initial state for the content type qualification request`.
basically in my test.py i have

[code]

What am i doing wrong??

[2016-10-17 11:11] psychok7 commented on #30
@javrasya i tested the latest commit against a database without django river but with data and everything is working.

[2016-10-17 11:11] #30 closed

[2016-10-17 11:38] javrasya commented on #34
I will try to create a case as same as yours and reproduce it and let you know

[2016-10-17 12:44] javrasya commented on #34
I spotted the problem. This is happenning why you don't give which field you want to create proceeding meta for. I designed django-river to work with multiple state field in a model and it used to work with it. But this was causing a lot of problem about injections and I decided to drop multiple field support. Single state field is supported each model now. But some part of this feature is remanin

[2016-10-17 12:47] javrasya opened #35 "Drop support of multiple state field each model exactly"
Some part of dropping multiple state field each model still remain and they cause confusion as disscussed in #34 . All should be removed.

[2016-10-17 14:45] psychok7 commented on #34
@javrasya yes the workaround works, thanks.

[2016-10-17 14:45] #34 closed

[2016-10-17 19:56] javrasya commented on #35
@psychok7 could you please try reinstall from master and try your example without passing field parameter. It is supposed to work now.

[2016-10-17 20:48] javrasya commented on #32
@psychok7 automatic injection of workfllow manager is removed. If anyone want to use it, it should be used explicitly now. This is best way to do it I think.

[2016-10-17 20:54] javrasya commented on #33
@psychok7 , accessing objects now possible but to access workflow manager, you should put it in your model as `objects` or as another manager to use it. Could you please check it and let me know is there any problem?

[2016-10-17 21:03] psychok7 commented on #33
@javrasya yes i will test it tomorrow and let you know.

[2016-10-18 15:29] psychok7 commented on #33
@javrasya tested it and it looks fine.

[2016-10-18 15:31] psychok7 commented on #35
@javrasya tested it and it works. I think its ready for a release on pypi.  This changes work with Django Rest Framework out of the box, no need to override anything anymore

[2016-10-19 10:49] javrasya commented on #35
Thanks

[2016-10-19 10:49] #35 closed

[2016-10-19 10:49] #33 closed

[2016-10-19 10:49] #32 closed

[2016-10-20 16:48] george-silva commented on #16
Hello @javrasya!

I'll try this and I'll get back to you. Thanks!

[2016-10-20 16:54] george-silva commented on #16
I'm evaluting this again and I don't think is possible to do with django-river what we need.

What truly happens, for example, is that we have many workflows for a single model.

Let's say:

[code]

for different types, different workflows will happen, with different proceedingMetas.

Perhaps this is possible if the starting state for each type is different?

[2016-10-20 20:08] javrasya commented on #16
`django-river` was supporting multiple field in a model. But injections into the model was the problem of doing that. Because, if there are multiple field, same method injections are overriding each other. I tought that, library users can handle that having multiple models and linking it a single model instead of having multiple state field in single model. I mean;

[code]

ProceedingMetas was onc

[2017-01-23 14:34] psychok7 opened #36 "Performance issues with get_available_proceedings function"
@javrasya there seems to be a performance issue with `.get_available_proceedings` function.

So, i followed your [youtube admin tutorial](https://youtu.be/5EZGnTf39aI) and in the beginning everything seemed to work fine.

Now i have been noticing a performance issue with just 15 objects in my model. When digging a bit further, i realized the problem was in the `get_available_proceedings` method:

[2017-01-24 05:01] javrasya commented on #36
Let me reproduce it, what db you use?

[2017-01-24 09:49] psychok7 commented on #36
@javrasya I am using Postgresql 9.5

[2017-01-24 17:41] psychok7 opened #38 "RiverException: There can be only one state field in a model class"
@javrasya When running my own unit tests i started getting this river exception `river.utils.exceptions.RiverException: There can be only one state field in a model class`, but the thing is i am not using more than 1 statefield in my model classes.

I have  `status = StateField(editable=False, verbose_name=_('status'))` in 2 different Models.

Looking at the your code, i found:

[code]

I commente

[2017-01-26 20:39] javrasya opened #39 "Python 3.0-3.2 has been dropped. Future versions will fail here."
Django has dropped support for pypy-3. So, It should be dropped from django itself too.

[2017-01-26 21:38] #39 closed

[2017-01-27 10:58] psychok7 commented on #36
@javrasya any ideas about this??

[2017-01-29 20:31] javrasya commented on #36
I am so sorry for late response, nowadays, I can't find time for django-river unfortunately and that makes me sad. I will try to spend more time about django-river.

I tried to add a test case for that which is with sqlite, will commit it soon. But, couldn't reproduce it.

I will try to reproduce it psql 9.5 tomorrow. I will be informing you.

Btw, As you may have seen the logic in the function yo

[2017-01-30 07:55] javrasya commented on #36
@psychok7, I could produce that, with 100 object records, With my scenario, it took 700 ms which is not that much. I am testing it on my local environment and I have SSD on my computer.

Could you please share your river app dump output with me;

[code]

So, I can try that with your scenario.

[2017-01-30 10:42] psychok7 commented on #36
@javrasya yeah sure i understand. I will try to help out with testing and a few lines of code whenever i can as well.

Unfortunately i cannot share the all database because it's production and confidential information, but the model is pretty simple:

[code]

I also have an SSD and i7 and with a normal model its usually pretty fast. I am using Python3 and docker if that helps.

[2017-01-30 10:44] psychok7 commented on #38
@javrasya do you think the line i mentioned might just be in the wrong place??

[2017-01-30 12:15] javrasya commented on #36
@psychok7 So, can you just share river app DB dump then, Is that also confidential? I need to create the same scenario as yours as much as possible.

I mean;

[code]

[2017-01-30 12:16] javrasya commented on #38
@psychok7 I couldn't check that yet. Will look at it soon.

[2017-01-30 12:19] psychok7 commented on #36
@javrasya oh that i can share. it in the attachment

[river_dump.json.zip](https://github.com/javrasya/django-river/files/738865/river_dump.json.zip)

[2017-01-31 06:10] javrasya commented on #38
It might somehow contribute your model more than once if you are sure there is only one state field in your model.

Instead of commenting it out, we should check that, `is that class is registered before WITH MULTIPLE DIFFERENT FIELDS`. It should raise an exception if there are more than one state field with the different name.

Could you debug it, does it hit that line for same fields? I suspect

[2017-01-31 13:49] psychok7 commented on #38
@javrasya i don't think i understood what line you want me to debug, but i added :
[code]

I got `<class '__fake__.QRequest'>` multiple times in the print with different `ids(cls)` right up until where it raised the error (the id must have been equal at that point).

If you want me to debug something else let me know the exact line.
thanks

[2017-01-31 14:00] javrasya commented on #38
@psychok7 it will hit that line more than once;

[code]
Can you just look at `self.name` variable which is actual field name at that line. I wonder that, does it hit that line for the same field more than once. Because this line of code tries to guarantee not having multiple state fields in a model. We shouldn't remove it. We should fix it somehow.

If it hit that line for the same field(which you

[2017-01-31 14:19] psychok7 commented on #38
@javrasya yes it hits the line multiple times but with `None`:
[code]

i get :
[code]

[2017-01-31 14:24] javrasya commented on #38
Can you try with `name` instead of `self.name`, sorry to bother you.

[2017-01-31 14:27] psychok7 commented on #38
@javrasya no problem, with name i get:

[code]

[2017-01-31 14:29] javrasya commented on #38
@psychok7 OK, this is exactly, what I thought. Django triggers that whole function for more than one for the same field. I will try to fix this.

[2017-01-31 14:30] psychok7 commented on #38
@javrasya ok, let me know when you finish and i will test it again ;)

[2017-02-01 07:27] javrasya commented on #38
@psychok7 can you test it with master branch once again.

[2017-02-01 11:35] psychok7 commented on #38
@javrasya i tested it but i now get another error:

[code]

My model does have the `status` field.

[2017-02-01 14:40] javrasya commented on #38
When you are getting this error, can you share your test case?

[2017-02-01 14:57] psychok7 commented on #38
@javrasya am not sure. i ran only one test with `python3 manage.py test entities.test_api --noinput`. The thing is this model doesn't even have django-river in it. It look like something happens at the migration stage idk. Anways here is my testcase with a model without river:

[code]

[2017-02-01 14:59] psychok7 commented on #38
@javrasya if i revert to the previous commit i get the other error msg so it must be something with the change you made i think. if i remove the RAISE, then my tests run just fine.

[2017-02-01 15:15] javrasya commented on #38
@psychok7 I don't face that issue. Can you replace `contribute_to_class` method with this and let me know does that work;

[code]

[2017-02-01 15:25] psychok7 commented on #38
@javrasya there is now a different error lol:

[code]

[2017-02-02 11:50] psychok7 commented on #38
@javrasya any ideas on this "new" error?

[2017-02-02 14:18] psychok7 commented on #38
@javrasya i figured it out. the issue was now on my end because i had the river tests folder inside my project. i removed it and everything now works with the new piece of code you added here. I will create a PR with that code so that you don't have to

[2017-02-06 11:06] #38 closed

[2017-02-06 11:07] psychok7 commented on #36
@javrasya have you had any progress with this issue??

[2017-02-06 13:12] javrasya commented on #36
@psychok7 I couldn't reproduced it. I tested it with `SQLite` and `PostreSQL 9.5.4`. You can also test it by changing the database configuration in `test_settings.py`. The postgresql one is commented out.  It seems you have another problem.

[2017-02-06 13:38] psychok7 commented on #36
@javrasya ok. Anyways are you still planning on converting the logic into python and avoid the DB hits?

[2017-02-06 13:39] javrasya commented on #36
@psychok7 Yes, I do.

[2017-02-06 13:40] psychok7 commented on #36
@javrasya ok. hopefully that will be enough to fix my problem.

[2017-02-14 16:45] psychok7 commented on #36
@javrasya hi again.

i have some more information on this issue. so while playing around i found that my performance issue is related to passing a user to `obj.get_available_proceedings(user=self.user)`. In other words if i just `obj.get_available_proceedings()` it loads normally. Maybe this is related to the groups i have (maybe that's why you cannot replicate my issue).

Do you see anything wron

[2017-02-19 11:13] psychok7 commented on #36
hi @javrasya , any thoughts on my last comment?

[2017-02-20 17:56] psychok7 opened #41 "'NoneType' object has no attribute '_meta'"
@javrasya started getting this error for some reason on the Admin with the current master (maybe some of the changes we made).

I have a patch, will submit is soon.

Traceback:

[code]

[2017-02-21 19:45] #41 closed

[2017-02-21 19:50] javrasya commented on #36
@psychok7  I tried to do it in a bit more pythonic way. Authorization part was still hitting DB. I saw that the current version is faster than the way of doing it in pythonic. I test it with 1K object with your scenarios.

I will look at that group authorization phase that you mentioned and try to understand what is your problem.

[2017-03-02 18:15] uncion7 opened #43 "Do i can to work with statements in parallel."
My process start in opening and then continue with two step in parallel. Finally the the process join.

[2017-03-15 12:37] ajithkumar151 opened #44 "There is no available state for destination for the user"
raise RiverException(ErrorCode.NO_AVAILABLE_NEXT_STATE_FOR_USER, "There is no available state for destination for the user.")
RiverException: There is no available state for destination for the user.

Hi ,
Need to know why this exception raises, and the details please. Development of the project was done as per the documentation.
The issue is only with Postgres, as sqlite3 is working fine
Please h

[2017-04-24 12:57] mwalkowski opened #45 "Django river and pyodbc-azure issue"
Hi,
I have the problem with django-river 0.9.0 and django-pyodbc-azure 1.10.4.0.
When I trying to create new object in db I get the following error:

And my model:
`class Prop(models.Model):`
[code]
Can you help me?

[2017-05-21 12:53] narnikgamarnikus opened #46 "AttributeError: 'NoneType' object has no attribute '_meta'"
When I try add processing meta, I get error:

and get 2 warnings:

Django version 1.11.1

[2017-05-21 13:46] narnikgamarnikus commented on #46
I found that the error in the `river/admin/proceeding_meta.py`

[code]

When there is parsing the `content_type`, and it encounters an `admin`, he can not get his model_class ().

I have not figured out how to solve it correctly, but just adding :
[code]

Everything worked as expected

[2017-05-27 16:07] narnikgamarnikus commented on #46
Also, in Django 1.11.1 there is a command `remove_stale_contenttypes`, the implementation of which solves this problem

[2017-07-28 05:08] manickam91 opened #47 "Rename wofkflow_object to workflow_object in models managers"
There is a spelling mistake in managers. kindly rename the file. Rename wofkflow_object to workflow_object  in models managers

[2017-07-28 06:43] #47 closed

[2017-07-28 06:44] manickam91 commented on #47
Closing this issue with this [Pull Request](https://github.com/javrasya/django-river/pull/48)

[2017-08-04 20:33] shacker opened #49 "null has no effect on ManyToManyField"
When installing River into a Django 1.11 project for first time, then running `migrate`, warning is emitted:

[code]

So it's a warning not an error, but means the null=True/False property on those models should probably be removed.

[2017-08-04 20:44] shacker commented on #49
Oh - Looks like this was fixed on github but not updated on pypi. False alarm.

[2017-08-04 22:32] shacker opened #50 "next_proceedings crashing"
Using latest from github:

[code]

I *believe* this is because `fields/state.py:84 is returning a ContentType rather than the actual object. But am not quite sure how to fix.

[2017-08-05 00:24] shacker opened #51 "Naive datetimes"
Because Proceeding is using datetime.datetime rather than Django's purpose-built `now` function, I"m getting lots of warnings like

[code]

This can be fixed by passing e.g.
`proceeding.transaction_date = now()`
and fixing the defaults.

[2017-08-06 18:23] shacker commented on #44
The error means there is no next state that the user has permission to progress to. I agree the error could be more clearly written. Are you *positive* that this only came up in PG, not in sqlite? I suspect other differences between the two environments were at play.

[2017-08-07 06:32] ajithkumar151 commented on #44
hi Scott,
The issue has been resolved !!
We where changing the States in postgres manually, which actually affected workflow of the system. Currently, **while updating new fields to the postgres, leave the statefield blank**, it will work fine.
Thanks for the response.

[2017-08-07 06:32] #44 closed

[2017-08-07 08:31] javrasya commented on #36
@psychok7  are you still having this problem? Is there any further update on this one? If not, we can close this.

[2017-08-07 08:55] psychok7 commented on #36
@javrasya i think this is still happening because it was not addressed

[2017-10-04 13:47] HenryMehta opened #53 "Cannot set up an initial state"
In Transitions you cannot set up an initial state (ie a Transition with a blank Source State) because it is a required field, so you have to specify the initial state when you create the object

[2017-10-11 14:16] HenryMehta commented on #53
I sorted this.  You simply have to ensure nothing can revert to the initial state

[2017-10-11 14:16] #53 closed

[2017-10-11 14:28] HenryMehta commented on #16
I have been using `django-river` in an application I've been developing and it is very good but I could really use the multiple flows functionality for a single Model based on user selection/field attributes without having to define it within the Models by having different models for each workflow.

I am developing a site which allows companies to pass a document through an authorisation process.

[2017-10-11 14:34] HenryMehta opened #54 "Adding comments to workflow"
I might not have understood how to implement it, but I would like the user to add comments to the workflow (for example, to explain why they have accepted/rejected the bug fix).  Is this currently possible and if so how would I do it?

Thanks for help

[2017-10-23 13:20] I-NOZex opened #55 "Adding new state/transition to existing objects"
In my workflow, I wanted to add a new state/transition, and I'm getting the available proceedings through `get_available_proceedings` method, but the old objects don't show the new created transition, only shows in new records.
Is it supposed? There is a way to "update" or "rebuild" in order to show the new transition in old objects?

Thanks in advance

[2017-10-24 01:53] juliancantillo commented on #53
Can you help me @HenryMehta . I'm getting the same issue.

[2017-10-24 06:45] HenryMehta commented on #53
You need to set one initial state which nothing reverts to (so other states to not have a backward link to it).

[2017-11-17 15:44] I-NOZex commented on #55
@javrasya

[2017-12-07 18:00] carlangasmontoya commented on #46
Just you commented, it works fine.

`def get_content_types():
    content_type_pks = []
    for ct in ContentType.objects.all():
        model = ct.model_class()
        if not model:
            continue
        for f in model._meta.fields:
            if type(f) is StateField:
                content_type_pks.append(ct.pk)

    return content_type_pks`

[2018-01-03 15:30] toufa123 opened #57 "There is no available initial state for the content type"
I'm getting this error as i'm adding diver on already filled database :There is no available initial state for the content type, how can I proceed

[2018-03-10 09:50] agungid opened #58 "Django-river don't display field "parents""
I'm Adding Proceeding Meta，don't display field "parents"
How to do?

[2018-03-10 15:47] agungid commented on #58
I am sorry. I just read the update
https://github.com/javrasya/django-river#082

[2018-03-10 15:47] #58 closed

[2018-05-01 13:58] Qoyyuum opened #59 "Action Button not rendering"
There is a problem with the action buttons not rendering for some odd reason.

I'm using `Django 2.0.4` and applied all of the compatibility issue changes and fixed, thanks to https://github.com/javrasya/django-river/pull/56

So far implementing django-river was smooth and easy! Except for the action buttons which I have trouble setting up.

My code:
[code]

Here's what I got after I `runserver` a

[2018-06-26 16:37] javrasya commented on #59
I think it is because of `Django` version. With newer version of django, you need to return your html content as `return format_html(content)`.

[2018-07-06 10:19] #59 closed

[2018-07-17 21:59] BGBRWR opened #61 "Change object_id from PositiveIntegerField to CharField to allow UUID on models"
https://github.com/javrasya/django-river/blob/16d9fd91a12f12547b29189d9148cbd8f1492545/river/models/proceeding.py#L39

Any model with the StateFIeld must have an integer ID`(e.g. 12)`. If the model's pk is a UUID `(e.g. aaa11cfa-c9d0-4ca8-9252-5be05e18d6c0)` it will break.

[Here is the problem and solution.](https://stackoverflow.com/a/37472408/8183414)

The point that is made for a solution for

[2018-07-17 22:02] javrasya commented on #61
Will try to look into that. But any contribution would be appreciated.

[2018-07-18 22:06] #61 closed

[2018-07-19 08:43] javrasya commented on #61
We don't have it as documented but, as long as tests are passing and tests are written (if it is a logic change or adding), it should be fine.

[2018-08-11 17:36] jdingus commented on #54
I have this exact scenerio as well.  I would say in a backward flow step there is almost always a reason that needs to be specified.

[2018-09-27 06:37] Intey commented on #55
Yes, it's possible.
[code]
After this, you get available transition.

[2018-09-27 12:34] Intey opened #65 "branching from one state"
Hello.
I'm like this project, because it's easy to understand. But, i misunderstud needs of `Proceeding` model.
Anyway, i got some issue, when try to realize backward workflow:
[code]
When we try to proceed back from "resolved" to "inprogress" it's found "resolved -> done" transition and determines it's as required, and not change object state to "inprogress".
Workaround leads me to line in [Proce

[2018-10-02 15:16] Iftequar14 opened #66 "how to implement django-river with view.py"

[2018-10-21 23:37] theshiftsite opened #67 "django 2.1"
Hello Ahmet ;
will we be able to run django-river  on Django 2.1

[2019-01-04 08:31] javrasya commented on #67
Hey,
It will be coming with v1.0.0

[2019-01-04 08:34] javrasya commented on #65
Hi there,

Proceeding objects are some sort of approvals for the specific model object. They are being created per object and out of given proceeding meta.

I am working on v1.0.0 and the concepts are much easier there btw.

[2019-01-04 08:39] javrasya commented on #51
It will be fixed with version v1.0.0 which I am currently working on.

[2019-01-05 13:30] javrasya commented on #65
You can take a look at v1.0.0 and let me know if you still have a question about it

[2019-01-05 13:30] #65 closed

[2019-01-05 13:30] javrasya commented on #67
It is supported in 1.0.0

[2019-01-05 13:30] #67 closed

[2019-01-05 13:31] javrasya commented on #66
You can take a look at [Fake JIRA](https://github.com/javrasya/fakejira) example project

[2019-01-05 13:31] #66 closed

[2019-01-05 13:32] javrasya commented on #57
`django-river` is trying to guess initial state in your workflow. Make sure there is a state which is never a destination state in another transition.

[2019-01-05 13:32] #57 closed

[2019-01-05 13:44] javrasya commented on #55
@I-NOZex, Sorry for the very late response. I have just released v1.0.0 and reviewing all the issues.

First of all, this is a very complicated situation.

Maybe adding a new transition is not hard to handle but if this was allowed by django-river, then django-river would have to support all other modifications like an update and delete as well in the workflow. As you may guess, it is turning out

[2019-01-05 13:44] #55 closed

[2019-01-05 13:48] javrasya commented on #54
I believe this can be handled outside of the `django-river` easily. In v1.0.0, you have your own comments model referring to `TransitionApproval` model in `django-river`.

Having this feature in `django-river` may complicate `django-river`

[2019-01-05 13:48] #54 closed

[2019-01-05 13:50] #49 closed

[2019-01-05 13:51] javrasya commented on #16
@HenryMehta , it is now supported to have multiple workflow in one model in 1.0.0.

[2019-01-05 13:51] #16 closed

[2019-01-05 13:52] javrasya commented on #28
The direction thing is not necessary in v1 anymore.

[2019-01-05 13:52] #28 closed

[2019-01-05 13:53] #46 closed

[2019-01-05 13:56] javrasya commented on #43
Hi @uncion7, It is not possible I am afraid, If I understand you correctly

[2019-01-05 13:56] #43 closed

[2019-01-05 14:00] javrasya commented on #36
Couldn't reproduce, so that I am closing this issue.

[2019-01-05 14:00] #36 closed

[2019-01-29 09:31] Regretss opened #70 "NO_AVAILABLE_NEXT_STATE_FOR_USER"
river_state
![image](https://user-images.githubusercontent.com/45195439/51897934-c96a0a00-23ea-11e9-8a6c-589fa049dba7.png)

river_transitionapprovalmeta
![image](https://user-images.githubusercontent.com/45195439/51897992-ebfc2300-23ea-11e9-9c68-f2c4f3571eaf.png)

river_transitionapprovalmeta_groups
![image](https://user-images.githubusercontent.com/45195439/51898059-1057ff80-23eb-11e9-97dc-411044

[2019-01-29 09:59] javrasya commented on #70
Thank you for your detailed report. `django-river` usually gives this error when there is no available and authorized next state for the user. But I will look into this to see if this is because of a bug in `django-river` very soon.

[2019-01-29 10:08] Regretss commented on #70
Is there an error in my data

[2019-01-29 10:24] javrasya commented on #70
Can you also post your `transitionapproval` table

[2019-01-29 10:33] Regretss commented on #70
transitionapproval There is no data

[2019-01-29 10:36] Regretss commented on #70
MyModel:
![image](https://user-images.githubusercontent.com/45195439/51902286-975da580-23f4-11e9-908b-a09d1f23b505.png)

transitionapproval It doesn't produce data

[2019-01-29 10:49] Regretss commented on #70
![image](https://user-images.githubusercontent.com/45195439/51903078-667e7000-23f6-11e9-8a6c-531ff1b9b058.png)
transitionapproval  No data was produced

[2019-01-29 13:42] javrasya commented on #70
How did you create your transition approval meta? The field name doesn't seem to be picked correctly. It was supposed to be your field name. Otherwise, `django-river` can't find your workflow to proceed.

[2019-01-29 14:44] javrasya commented on #70
One more thing. You should not be setting state field of your object. It will be managed by `django-river`. You just save your object with non `django-river` related fields.

[2019-01-31 15:18] javrasya commented on #70
Any update on this @Regretss ?

[2019-02-11 09:35] javrasya commented on #70
Closing this ticket assuming my following comments helped and the problem is solved.

[2019-02-11 09:35] #70 closed

[2019-02-13 05:39] Regretss opened #71 "Whether it was created automatically river_transitionapproval ？"
Whether it was created automatically  river_transitionapproval ？

[2019-02-13 11:59] javrasya commented on #71
Transition approvals are automatically getting created by `django-river` out of river_transitionapprovalmeta. The answer is yes, they are.

[2019-02-14 19:32] Regretss commented on #71
Error:
There is no available initial state for the content type ****.

How do I create the initial state

[2019-02-14 19:49] Regretss commented on #71
![image](https://user-images.githubusercontent.com/45195439/52813270-6065e000-30d4-11e9-82f5-b253bc5d5281.png)

 But the river_transitionapproval table is still empty.

[2019-02-15 08:08] javrasya commented on #71
Your problem was not having the field column filled with correct state field of your model. django-river will work if you create stuff properly. I think you should start fresh and go with that way;

Clean your transition approval meta table and go to Transition Approval *Meta* admin page and create your Transition Approval Meta**s by picking the correct field which points to your state model field

[2019-02-16 21:45] Regretss commented on #71
Oh, my God...

[2019-02-16 21:45] #71 closed

[2019-02-18 06:24] Regretss opened #72 "create Transition Approval Meta"
Transition Approval Meta  can only be created through the management interface ?

[2019-05-12 15:48] superandrew opened #74 "There is no available initial state for the content type while testing"
When I create an integration test, I create objects in the DB for which I have defined a state field.

[code]

In django admin I defined 4 states, and 3 transitions

![Screenshot 2019-05-12 at 17 46 39](https://user-images.githubusercontent.com/71364/57584638-fd6ec400-74dd-11e9-8450-986fdfa3a912.png)

So I understood from the documentation that since CREATED is never a destination state, django-ri

[2019-05-12 16:14] superandrew commented on #74
I notice that in my River applications I have just

`States` and `Transition Approval Meta` entities to add or modify. No `Transitions` or `Proceeding Meta` like in the tutorial. Does that mean that I miss something from the setup?

[2019-05-12 17:19] superandrew commented on #74
this is what I tried, after understanding that many of the tutorials refer to old version of the framework:

[code]

In a non testing scenario I suppose that you should run migrate, or maybe there is something that I am still missing.

My test suite starts with:
[code]
then, for every test in which I try to create programmatically a `Procedure`,

`line 38, in initial_state
    raise RiverException

[2019-05-12 18:19] superandrew commented on #74
ok, I was able to fix it. The problem was that (as a fool) I was doing the setup in the setup method, so every case didn't have data. So Now it works, passing the first state to the object I create

    def create_workflow():
    cr = State.objects.create(label="Created", slug='cr')
    sb = State.objects.create(label="Submitted", slug='sb')
    va = State.objects.create(label="Validated", slug='v

[2019-05-12 21:22] superandrew commented on #74
When in functional test I `post` an object, even after the `create_workflow` call, I have the same error.
probably I should put an initial state in the `perform_create` override when I am in test mode but I think this kind of misses the point of the initial state guessing.

`ErrorCode.NO_AVAILABLE_INITIAL_STATE`

In normal mode I have no errors, apart from the continuous `<number>field doesn't see

[2019-05-12 22:22] javrasya commented on #74
Hi @superandrew, it seems like you are not setting `field_name` of `TransitionApprovalMeta` in your create workflow function. Since you can have multiple workflows for the same model regarding the different model field, this is the only way that django-river would figure out what workflow it is. It is weird that django allows you to create a TransitionApprovalMeta without a field name. I would not

[2019-05-12 22:27] superandrew commented on #74
oh, wow. Silly me. It works now.

What do you think about the

`140332700806376 field doesn't seem have any transition approval meta in database. You should create it's TransitionApprovalMeta` warning I see everytime I launch django and/or the test suite? Is this a misconfiguration, or is it normal? Also, is it normal that everytime I launch `makemigrations` I've got a new migration with that id c

[2019-05-12 22:27] javrasya commented on #74
There seems to be something wrong with field_name error message though. `140549272366536` in the message is actually the field name. But I don't know why it thinks that this number is the field name :-)

I will look at this when I have time. But you try setting your field_name in the TransitionApprovalMeta. It should fix it.

Here is an example of creating it programmatically. It is with `factory_

[2019-05-13 06:24] superandrew commented on #74
thanks! however setting the field fixed the error, so all tests now run

[2019-05-13 06:29] superandrew opened #75 "Assign to someone a task"
Hi, is it possible to assign a task to a user via API? Or it is possible just to set permissions to the transition via Django permissions? I've searched the API docs but I didn't find any useful information.

In the Jira example, I would like to achieve the assignment of the task to another person who could close or re-open it.

[2019-05-13 07:40] #74 closed

[2019-05-20 13:21] javrasya commented on #75
Hi @superandrew ,
django-river encourages to use user-groups or user-permissions to do such authorizations. The way how to do it is to assign a specific user-group to the user and then give permission to that user-group in `TransitionApprovalMeta`. Because dealing with the authorizations at user granularity is always a bad idea to manage them in the future.

[2019-05-20 13:25] javrasya commented on #72
No, it is a django model. You can create it programmatically as well as long as you provide mandatory fields. Here is one of the django-river tests which creates `TransitionApprovalMeta`s with factory boy library but the idea is the same. You can use django model creation code by providing the same model fields.

[2019-05-20 13:25] #72 closed

[2019-05-20 13:26] #50 closed

[2019-05-20 13:26] javrasya commented on #8
Won't be implemented

[2019-05-20 13:26] #8 closed

[2019-05-20 14:30] javrasya commented on #45
A new issue can be created if it still a case for the newest version of django-river

[2019-05-20 14:30] #45 closed

[2019-06-18 09:56] superandrew commented on #74
@javrasya I think there still is a problem with the fields because every time I run django I have this message:

[code]
and everytime I run `manage.py makemigrations` django river creates a new migration slightly changing the field name:

[code]

Do you think this is related to this issue or do you think a new one should be created?

Thanks

[2019-06-18 10:09] javrasya commented on #74
@superandrew , I think I know why this is happening and it is a bug in the place where this is logged. It is not affecting anything. Just to logging part is buggy. Please ignore it until I fix and release it.

[2019-06-18 10:23] javrasya commented on #74
I create a PR @superandrew . I am waiting for the build to see if that breaks anything

[2019-06-18 12:06] javrasya commented on #74
I even published it. Can you try `django-river` v1.0.1 @superandrew .

[2019-07-01 13:11] superandrew commented on #74
is this already on pip? or should I install it from github?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-01 13:18] superandrew commented on #74
thanks @javrasya !

I think the problem has been solved partially, but not completely.
`django-river==1.0.0`

[code]

`django-river==1.0.1`

[code]

What happens is, despite not being warned, a new migration is generated every time I run `manage.py makemigrations`.

Is this normal?

Thanks

[2019-07-01 14:09] javrasya commented on #74
It doesn't seem to be normal  😄

Can you share those migration file contents? So I can have some idea maybe 🤔

[2019-07-02 07:53] javrasya commented on #74
I managed to reproduce that. I will have a look if I can understand why this is happening.

[2019-07-02 08:34] javrasya opened #77 "It keeps recreating migration for models that have state field"
**Description**:

Because `django-river` uses a random related_name in the state field, Django thinks that the state field got updated every time we run `makemigrations`. It should not be recreating it.

[2019-07-02 08:37] javrasya commented on #74
Here I created another issue for that. Let's discuss it over there. Please don't use this issue. If you have another issue feel free to create a new one for it.

https://github.com/javrasya/django-river/issues/77

[2019-07-02 09:04] superandrew commented on #77
@javrasya of course, sorry for delay, I was posting the content of the migration but I guess you were able to recreate it.

[2019-07-02 09:05] javrasya commented on #77
@superandrew can you try v1.0.2 which has just been published. It must  re-create the migration once and for all now.

[2019-07-02 09:11] superandrew commented on #77
I installed 1.0.2 from pip and I can confirm that the migration isn't generated anymore in my project.

[2019-07-02 09:15] javrasya commented on #77
Thank you for the contribution @superandrew . Please keep up reporting when you face some bugs. 🙏

[2019-07-02 09:15] #77 closed

[2019-07-03 07:09] #75 closed

[2019-07-03 07:34] superandrew commented on #75
Thank you @javrasya . So in order to be sure to have fully understood what you're saying. If I create a ticket, which is in "initial" state, and then submit it, I cannot assign this ticket to a specific person. Or, in another example, if the ticket is rejected cannot be assigned to the person who worked it, but everyone that has the role to change the state could change it. Is this the intended be

[2019-07-03 09:40] javrasya commented on #75
Hi @superandrew . The purpose of `django-river` is not to provide something similar to a task tracking system like JIRA. What `django-river` provides is a generic state machine actually.  Assigning a ticket to a user should be your application's responsibility.

[2019-08-06 12:09] rupin opened #79 "How does the Flow work with a two State model ?"
Firstly, let me thank you for building django river and sharing with the community

I read through the change log and found that it was indeed possible to have two state fields in a model. Is there a working example you can point me to, so I can peruse and evaluate what are the implications of that feature? I cant seem to find someone who has documented it yet.

[2019-08-06 12:31] javrasya commented on #79
Hi @rupin ,

I will improve the documentation on having multiple workflows in one model. It was a good catch. In order to help you now, here I can give you some example usages of having multiple workflows in one model;

Assuming this is our model;

[code]

`django-river` will initialize two isolated workflow worlds for these two fields. So you are supposed to give which model and which field you a

[2019-08-06 12:49] rupin commented on #79
For Sake of argument, assuming I want to start a workflow 2 after a specific state of Workflow 1 has reached, do i have to tie these two workflows by checking in code ( if workflow 1 has reached the desired state, and has workflow 2 ended, to start workflow 1 again) or is there a way to tie the two together through django-river?

[2019-08-06 13:16] javrasya commented on #79
`django-river` provides an API to hook a call back method to a specific state transition. In the call back method you can do whatever you want.

https://django-river.readthedocs.io/en/latest/api/instance.html#hook-post-transition

[2019-08-06 13:39] rupin commented on #79
So with the hooks, do i have to hardcode my state names within if conditions, because it seems the hook will get triggered either always

`>>> my_model.river.my_state_field.hook_post_transition(my_callback)`

 or
I have to define my start and end states as follows
`>>> my_model.river.my_state_field.hook_post_transition(my_callback, source_state=in_progress_state, destination_state=resolved_state)`

[2019-08-06 14:07] javrasya commented on #79
Unfortunately no. `DatabaseHookingBackend` is mostly for not losing the callbacks that have been registered before and also maintain the synchronization between multi processes. `django-river` caches the callbacks after it has been initialized once. So it is doesn't keep pulling them from DB on every transition signal is fired. Besides, that wouldn't be performant.

If you need it that generic, yo

[2019-08-06 14:32] rupin commented on #79
Thanks so much for your help!

[2019-08-06 14:32] #79 closed

[2019-08-08 06:29] rupin opened #80 "Tracking Workflow Created and Updated Time and Date"
I did go through the API and couldn't find a method that will log every interaction of the workflow and track when the workflow came in a certain stage of the process and when it was updated.

Is there a functionality like that available?

[2019-08-08 07:22] javrasya commented on #80
[Hooking Pre-Transition](https://django-river.readthedocs.io/en/latest/api/instance.html#hook-pre-transition) or [Hooking Post-Transition](https://django-river.readthedocs.io/en/latest/api/instance.html#hook-post-transition) are what you are looking for. If you don't specify the source and the destination state, it will trigger your callback functions for every transition.

[2019-08-08 07:23] rupin commented on #80
So I should go ahead and define my own tables to track the states, and update/create those using the hooks, you mean?

[2019-08-08 07:26] javrasya commented on #80
Nope, `django-river` will do it. But you should tell `django-river` to call your callback functions in certain (you define) conditions. If you don't give any condition (source_state, destination_state), it will call the callback function you registered on every transition.

[2019-08-08 07:31] rupin commented on #80
Assuming i create the callback functions for for the Pre and Post transitions, django river will log the date and time when a certain state occurred. How do I get access to this data in my template? Is there a choice to saver the log on a file or in a DB table?

[2019-08-08 07:50] javrasya commented on #80
You can do anything you want in your callback function. It is your spot. `django-river` will pass the workflow object(an instance of your model class) which is currently transitioning to your callback function. If it is post-transition hook, `django-river` also passes the `TransitionApproval` object to your callback function as well. There you can have what the current state and the previous state

[2019-08-08 08:13] rupin commented on #80
If the logs are saved in Transition Approval, using the state object, can i get access to the data?

Let me look at the model relations and figure out. If i need help, will updated this thread. closing for now.

[2019-08-08 08:13] #80 closed

[2019-08-08 08:28] javrasya commented on #80
[TransitionApproval](https://github.com/javrasya/django-river/blob/master/river/models/transitionapproval.py) is yet another Django model. You can, of course, access that data. Whenever a workflow object is created `django-river` creates all the `TransitionApproval`s initially as `PENDING`. If it is still pending, which means, that transition hasn't happened yet.

[2019-08-18 08:21] rupin opened #81 "Multiple Starting Values for a specific Workflow"
Can a workflow have multiple starting options? In other words, can one StateField have more than one starting value, so the same stateField now is assigned to different workflows?

[2019-08-18 15:46] javrasya commented on #81
Hi @rupin. That is against finite-state-machines. Every FSM should have it's one and only initial state. Different workflows should have different state fields. What is it that you are trying to achieve?

[2019-08-18 15:48] rupin commented on #81
Thanks for the response. I am modelling a generic workflow engine which can be deployed as a solution for simple use cases.

https://github.com/rupin/WorkflowEngine

[2019-08-18 15:48] #81 closed

[2019-08-19 03:29] farlandliu opened #82 "need for hooking guide"
Per hooking guide doc [here](https://django-river.readthedocs.io/en/latest/api/instance.html#hook-post-transition)
[code]
My_model here is an intance to hooking a callback, but how can I hook the callback for a Model, like Ticket?
[code]

[2019-08-19 07:03] javrasya commented on #82
Hi @farlandliu , Let me loot at it.

[2019-08-19 09:04] javrasya commented on #82
Hi @farlandliu, It is not supported at the class level right now. You have to register it on per object. It is supposed to be on your model object.

[2019-08-19 13:31] javrasya commented on #82
It is gonna be supported on next minor version @farlandliu .

[2019-08-19 13:31] #82 closed

[2019-08-20 07:42] rupin opened #84 "Django river Error"
I have the latest version of Django River installed in my application.

I created a bunch of states, then I added the Proceeding Metas for the States, alongwith the groups that have access to initiate the state.

When I created a new row in my model, I get the following error.

[code]

 My code is commited here  https://github.com/rupin/WorkflowEngine/blob/master/workflowengine/models/FlowModel.py

[2019-08-20 07:43] rupin commented on #84
I also looked at the Django river Jira Example, and it looks like transitions and Proceeding Metas have been combined into one place.

[2019-08-20 08:11] rupin commented on #84
Issue is related to the model doing this

[code]

The code expects a string to be returned.

[code]
works without issues.

[2019-08-20 08:59] rupin opened #85 "Pending actions of Multiple users in the same approval group"
Let us assume there is a student and a teacher. the purpose of using django river is to create a state machine where the student can be assigned a teacher after a couple of steps have been evaluated ( what topic, payment status etc)

There will be multiple teachers and multiple students. Each teacher will be assigned into a "teacher" group, when they sign up, and the same applies to students ( the

[2019-08-20 09:11] javrasya commented on #85
Hi @rupin .
`approve` is to approve a transition not to fetch something. What you need is [Get On Approvals](https://django-river.readthedocs.io/en/latest/api/class.html#get-on-approval-objects). This will return all the object that is on the given user's approval. (Not all pending)

[2019-08-20 09:47] rupin commented on #85
How is the relation between the user and the flow set up? How do you introduce a new user in the middle of the flow? Or does this mean, anyone who is part of the approval groups can approve the flow?

[2019-08-20 11:17] javrasya commented on #85
Approvals can be tied to both the groups that the users are in or the permissions that the users have. Anyone who is authorized in these two ways can approve that transition.

The workflow lifecycle for a model object is set up when it is created. `TransitionApproval`s are the active components of the lifecycle where as `TransitionApprovalMeta`s are the passive components.  They are made out of `T

[2019-08-20 11:52] rupin commented on #85
This seems to be a critical problem. If the people in a group or people who have the requisite permission can approve, it means anyone in the permitted group can approve. I read some of the past issues on this repo and it seems that the module does not support granularity at the level of the workflow. Workflow lifecycles should have the ability to add and remove participants in middle of the flow,

[2019-08-20 13:14] javrasya commented on #85
Why would it be a problem? If you don't want a person to be able to approve a transition because he is in a group, then don't give that user group the permission to approve the transition. Same applies for the permissions. `django-river` provides you the elasticity to permit the users who either are in a specific group or have specific permission. That is on the contrary one of the good things tha

[2019-08-20 13:37] rupin commented on #85
As new users signup, they get assigned a role in the system, and hence get added to a group. Does anyone in a permitted group get ability to approve anyone else's workflow? Meaning if student A and student B are in a group "Students", and let us say the "Students" group is assigned to a transition at step 3 of my workflow. Now student A and Student B start a workflow, does the scheme permit studen

[2019-08-20 14:04] #84 closed

[2019-08-20 14:44] javrasya commented on #85
If this is the workflow, yes, student A will also be able to approve student B's workflow at step 3. This can be a strong reason why to have the capability of assigning a specific user to a transition. This is a bit complex to define such rules as you may guess. Because when you define the rules you don't know who will be the owner or what the object will be like.

Let me think about this and mayb

[2019-08-20 14:57] rupin commented on #85
The way I have done this is to create a separate model in my application that tracks who gets added and removed from a specific flow, as the flow is created and updated. The access to the flow is governed by this model, after which the access restrictions provided by django-river come in force.

Users are assigned roles in the system, and the names of the group is the same as the roles in the syst

[2019-08-21 13:18] rupin opened #86 "'ClassWorkflowObject' object has no attribute 'approve'"
I am trying to approve a Flow. The code works without error for

`flow_objects_awaiting_approval = Flow.river.stage.get_on_approval_objects(as_user=logged_in_user)`

but when the same line is changed to

`approveObjects = Flow.river.stage.approve(as_user=logged_in_user)`

It throws the error below

[code]

What am I doing wrong?

[2019-08-21 13:58] javrasya commented on #86
`approve` is not a class API it is an instance API. You can access it per model object. Supposed to be something like this;

[code]

Otherwise `django-river` can't know what object to approve.

[2019-08-21 14:02] rupin commented on #86
Thanks!

[2019-08-21 14:02] #86 closed

[2019-08-22 05:09] #85 closed

[2019-08-22 05:16] rupin opened #87 "Generating Workflow History"
If I had access to a model object, how can i know everything about the workflow? Can i access information about the workflow, specifically its history.

The API documentation talks about the current state, but more often than not, people will want to read a summary.

[2019-08-22 05:28] rupin commented on #87
So table river_transitionapproval is tracking the history. It is definitely very convenient that all states are there whenever a new flow is created. My understanding is when a stage in a flow is completed, its status flag is changed from 0->1 and a timestamp is added in the action_date column. The object_id column holds the reference to the primary key of the model in which the statefield has bee

[2019-08-22 08:04] javrasya commented on #87
This is about right. You can use it to track history as well.

I am not really sure why you need it and what you mean by "through an API" to be honest but it is yet another Django model, you can do anything that you can do with other Django models.

[2019-08-22 08:33] rupin commented on #87
I started to build views with the django rest framework. I did that for the State table and got a weird result.
My serializer is as follows
[code]

Also, my API view is as follows
[code]

Through the Admin console, I have added 11 states inside my state table, which I have checked with pgadmin.

When i access the API through the browser, I get 11 empty sections in my API ( no error, just the data

[2019-08-22 08:38] javrasya commented on #87
It has been quite a while since I last worked with django rest framework, but this seems to be a problem with the way you configured it with django rest framework. Because `State` is yet another django model with no specialty.

[2019-08-22 08:41] javrasya commented on #87
I think you should use `serializers.ModelSerializer` instead of `serializers.Serializer`

[2019-08-22 08:43] rupin commented on #87
oh yeah! that worked!

[2019-08-22 08:43] #87 closed

[2019-08-24 06:08] rupin opened #88 "Selective Start of Flows when Model created"
Is there a way we can override the default behavior of the Flow Creation? When my model object is created, and If i have two` StateField()` 's it will start both the flows together. Can it be selectively started?

Can i set a specific field as primary which starts its flow when the model object is created, and every other field is on user control/hooks/workers etc?

[2019-08-26 06:53] javrasya commented on #88
This seems to be a complicated workflow, but let me think.

[2019-08-26 06:56] rupin commented on #88
My workflowengine is looking good at this time. I have added some API endpoints in the readme, please have a look as well.

https://github.com/rupin/WorkflowEngine

I am wondering to fork your repo and help build some of these features for the community, will do so in a few days.

[2019-08-26 09:35] rupin opened #89 "Modifying Transitions through Admin does not change existing flows in progress"
If there are active flows going on in the system, and if you change the transitions from the admin interface, does it effect the Transitions Approval Table?

I did not see addition of new rows in the table when a flow was in progress ( those transitions were still pending to happen).

Does this mean the application has to be taken down for maintenance to modify the transition approvals, so that no

[2019-08-26 10:01] javrasya commented on #89
Dealing with the changes in the workflow is a tricky thing. Changes on the `TransitionApprovalMeta`s are only applied to the objects which will be created after that moment. So there is no automatic applying for the changes to the existing `TransitionApproval`s. But there is always an option to modify `TransitionApproval` object manually and the application doesn't need to be down for that.

[2019-08-26 10:45] rupin commented on #89
Agree, that modifications to the Transition Approval Tables can be done, but it becomes trickier as the number of open workflows grows.

So it is best to be certain about how your workflow transitions are going to be, and not edit them.

I think if you try to get past created workflows and want to present a history of the workflow, you will quickly run into an issue if a specific transition state

[2019-08-26 11:16] javrasya commented on #89
That is right. This is why I didn't want to touch the existing ones. It brings way too complication.

[2019-08-26 11:20] rupin commented on #89
For clarity, we must add the set of operations someone should not do once a flow has been created. The Readme.md does say, that the workflow transitions and states can be edited, but it should touch upon what should the edits be. For example, you change the state names, but you cannot delete them. You should stay away from changing transitions, but you can add new ones.

The impact is on old workf

[2019-08-26 15:09] rupin commented on #88
Alternatively, can you shed more light ( probably an example) on how and where you define hooking functions and associated actions?

[2019-08-27 11:51] rupin commented on #88
Here is How I did it. I added an additional model in my project that relates which state is the second state in my workflow, depending on metadata associated with the Flow.
Whenever the flow gets created, the flow directly moves to the second stage, the first stage is just placeholder.

[2019-08-27 11:51] #88 closed

[2019-08-27 11:51] #89 closed

[2019-08-31 14:28] javrasya commented on #85
@rupin , I was wrong about django-river not being able to let only one user to approve a transition. Look at [this line of code](https://github.com/javrasya/django-river/blob/master/river/core/instanceworkflowobject.py#L120) . There you can see that if you override `transactioner` column of a specific `TransitionApproval`, then it will also permit only that user if no user group and no user permis

[2019-08-31 14:29] javrasya commented on #85
So, if you want only one user to be able to approve a step, you can simply set the transactioner as this user in your code with no user group and no permission then django-river will only allow that user for that step.

[2019-08-31 14:35] rupin commented on #85
Let me see how this new information can be used in my project.

The trouble is that the transactioner column can be updated from within river code, so i am unsure how this will pan out.

[2019-08-31 14:47] javrasya commented on #85
`transactioner` column gets updated only when it is approved. It is stands for two things; one which is to allow a person to be able to approve transition, second which is to keep the information of who approved the transition. So either case, it is not bad for you.

[2019-08-31 23:10] javrasya opened #90 "Getting on approval objects are so slow when there are many items"
As it is related to the issue here #36, the more items in the database the worse it gets. The reason for that is that `django-river` basically loop through every workflow item in the database to fine approval object on per object one by one. This is a terrible way of finding object that are on approval of a given user.

**Acceptance Criteria**:

* Make the performance of this operation decent enou

[2019-09-01 05:38] rupin opened #91 "Model Object Deletion does not delete associated hooks"
I get this error whenever I start my server

`Callback 'river.hooking.transition.PostTransitionHooking_object21d81866-f804-4f7b-93a1-1751e6a0a4fa_field_namestage' from database can not be registered. Because method 'my_callback_function' is not in module 'workflowengine.hooks.myHooks'.
Callback 'river.hooking.completed.PostCompletedHooking_object21d81866-f804-4f7b-93a1-1751e6a0a4fa_field_namestage

[2019-09-03 17:40] javrasya opened #92 "Force initial state to be given while creating the workflow"
**Description:**
When a workflow is created, having an initial state in it can easily be skipped unintentionally. That is a flaw in the design. Because `django-river` expects it to exists and the problem doesn't show up until an object is created which brings lots of confusion.

**Acceptance Criteria**:
* Force users to provide what the initial state is while defining the workflows

[2019-09-03 17:52] javrasya opened #93 "Tests are so complicated and very hard to maintain and improve"
**Descriptions:**
The intention when the tests are first written is to make it generic and re-usable. This brings a lot of complexity. In one tests, many cases are tried to be handled.

**Acceptance Criteria**:
* Rewrite all the tests and make them test simple cases.
* Phrase tests according to what they are testing
* Don't over generalize

[2019-09-03 17:55] javrasya opened #94 "Support class level hooking"
**Acceptance Criteria:**

* Support class level hooking meaning that they will work for all objects

[2019-09-03 20:23] #92 closed

[2019-09-04 10:07] #93 closed

[2019-09-04 10:07] javrasya commented on #91
I am preparing a new version @rupin . I will look into this

[2019-09-04 11:06] rupin commented on #91
Awesome!

[2019-09-04 11:06] #91 closed

[2019-09-04 16:44] #90 closed

[2019-09-05 09:54] #94 closed

[2019-09-05 10:34] javrasya opened #101 "Explain the authorisation mechanisms in more detail"
**Acceptance Criteria:**
As it is discussed in #85, all three different kinds of authorization mechanisms need to be explained in the documentation

[2019-09-05 10:38] javrasya commented on #85
Hi @rupin ,

I would appreciate if you can look at the PR #102 regarding the discussion we had about explaining the authorization better in the documentation and elaborate if you can

[2019-09-05 19:11] #101 closed

[2019-09-10 09:35] javrasya opened #104 "User friendly workflow creation ui"
**Description:**

The way how currently workflows are created is not straightforward. There can be a user interface showing the whole state machine in sketch and whole workflow can be created and managed in screen

**Acceptance Criteria:**

* Create a user interface with basic technologies with HTML and Javascript, so that there is no additional stack to be maintained
* Handle this either in this

[2019-09-18 08:39] rupin commented on #104
Can this be under the admin interface? I am sure the admin interface can be customized. I would be keen to contribute on this project.

[2019-09-18 08:45] javrasya commented on #104
It is not very convenient to do this as Django admin interface. I am currently working on it and it will be with Django Rest Framework and Vue.js. Kind of Django River Admin interface. I haven’t published it yet. You can take a look after I publish it.

[2019-10-15 21:40] javrasya opened #105 "More dynamic and better way for hooks"
**Descriptions:**

Hooking to a specific event currently doesn't fulfill the main idea of `django-river`. Create new hooking or updating an existing one requires a code change and a redeploy.

**Acceptance Criteria:**

- The current way of registering a hook via a django-river python API should be replaced by a dynamic way like creating them on the DB and have django-river see them. This way chang

[2019-10-16 20:33] javrasya opened #106 "It crashes when saving a workflow object when there is no workflow definition for a state field"
**Acceptance Criteria:**

It should handle undefined workflows for the state fields gracefully

[2019-10-16 20:41] #106 closed

[2019-10-16 20:42] javrasya opened #107 "next_approvals intance api is broken"
**Acceptance Criteria**:
* Make the api work

[2019-10-16 21:00] #107 closed

[2019-10-17 16:04] #105 closed

[2019-10-20 16:12] javrasya opened #108 "Cancel all other approval peers with different branching state"
**Description:**

When there are multiple next states and one of them is given to transit, those that are not selected still stay as `PENDING` which is misleading.

**Acceptance Criteria:**

* Introduce another status which is `CANCELLED`

[2019-10-20 16:15] javrasya opened #109 "Approval status should be kept as string instead of ordinal number in DB"
**Acceptance Criteria:**

* Turn status column into a string enumeration instead of a number to make it more readable in the DB and avoid mistakenly changed ordinality.
* Write a safe custom migration to migrate the existing integer status column to the new string status column not to break the clients.

[2019-10-20 21:05] #109 closed

[2019-10-21 05:53] #108 closed

[2019-10-25 22:22] javrasya opened #110 "Keep iteration in the approvals"
**Description**:
Source and destination state information are not enough to keep track of the order since there can be cyclic transitions with `django-river`. It is good to keep an iteration number which represents the order of the transition in the tree. As cycles happen, this number would also increase.

**Acceptance Criteria:**

* Introduce an iteration number in approvals to keep track of orde

[2019-10-27 20:37] #110 closed

[2019-10-27 20:39] javrasya opened #111 "Cycling should create rest of entire flow"
**Description:**
When cycling happens, `django-river` creates all passed transition approvals for the object so far to let the workflow continue. But it doesn't create the whole workflow from that point on.

**Acceptance Criteria:**
* When the cycling happens, create the rest of the flow rather than part of it
* Cancellation should be on all approvals which are not part of the possible future.

[2019-10-28 09:39] #111 closed

[2019-10-28 23:20] javrasya opened #112 "Workflow is broken right after it cycles"
**Description:**

The way how `django-river` handles the cycles is that it re-creates the rest of the workflow. The way how `django-river` understands that it actually cycled is that it is checking if there is any other approval that has been approved. But an approval after a cycle still makes `django-river` thinks that it is still cycling. It should see it as cycle if there is already a PENDING a

[2019-10-28 23:33] #112 closed

[2019-11-09 16:10] javrasya opened #113 "Approval hooks should be able to be registered for a specific approval"
**Description:**
Due to cyclic transitions, there can be more than one transition approval of the same transition approval meta object. And there is no capability to have a hook only one or some of them since they are defined at approval meta level.

**Acceptance Criteria:**
* Support hooking for a specific approval object

[2019-11-09 16:17] javrasya opened #114 "Transition hooks should be able to be registered for a iteration"
**Description:**
Due to cyclic transitions, there can be more than one transition with the same source and destination states and there is no capability to have a hook only one or some of them since they are defined at source and destination state level.

**Acceptance Criteria:**
* Support hooking for a specific iteration.

[2019-11-09 16:23] #114 closed

[2019-11-09 16:23] #113 closed

[2019-11-10 00:08] javrasya opened #115 "Remove complexity"
**Description:**

Skipping and disabling an approval bring so much complexity that is worthless. It is good idea to drop them to cut the complexity

**Acceptance Criteria:**
* Drop enabled field in the approval
* Drop skipped and skipped_from fields in the approval
* Drop skipping capability

[2019-11-10 09:29] #115 closed

[2019-11-10 23:04] javrasya opened #116 "Allow creating transitions without any approvals"
**Description:**

In order to have a transition in `django-river`, there should at least be a transition approval meta or transition approval. It is good to keep the transition information even though there is neither a transition approval meta nor transition approval

**Acceptance Criteria:**
* Introduce TransitionMeta and move source_state and destination_state from TransitionApprovalMeta to her

[2019-11-11 14:53] #116 closed

[2019-11-27 10:25] javrasya commented on #104
This has been done as yet another admin repository [River Admin](https://github.com/javrasya/river-admin).

I would appreciate if you could try it out @rupin

[2019-11-27 10:27] rupin commented on #104
Sure, give me a couple of days.

[2019-11-27 10:28] #104 closed

[2019-11-28 06:11] xiaohuasheng opened #119 "Django1.9.10 can't import Cast"
I use Django 1.9.10

[code]

my code is

[code]

run and occurs

[code]

[2019-11-28 08:19] javrasya commented on #119
Hi,
django-river doesn’t support Django versions lower than 1.11 anymore.

https://github.com/javrasya/django-river/blob/master/README.rst#requirements

[2019-11-28 14:45] javrasya commented on #119
Feel free to open a new issue if you have another problem. Closing this.

[2019-11-28 14:45] #119 closed

[2019-11-28 14:48] javrasya opened #120 "Cancel the impossible transitions along with transition approvals"
**Description: **
When there more than one next state from the current state of the workflow and one of the transition approval is approved, `django-river` simply cancels all other peers and their future as well since they are impossible to reach from that moment on. It seems even though the transition approvals are canceled, their transitions still remain `PENDING`

**Acceptance Criteria:**
* Can

[2019-12-16 08:20] javrasya opened #123 "Provide jumping capability for tests"
**Description:**

When preparing a test case for a certain situation, it is sometimes needed to start the workflow on a specific state. It could be nice to have such capability to jump to a future state for a workflow object

**Acceptance Criteria:**
* Provide a new instance API that will allow jumping the object from its current state to a give target future state.

[2019-12-16 11:00] javrasya opened #124 "Provide some BDD tests"
**Description:**

`django-river` users are usually lacking a way to express their use cases when they are having a problem with their workflow. It might be nice to have some samples written in a human-readable language like Cucumber test

**Acceptance Criteria:**

* A BDD test for shipping flow example
* A BDD test for issue tracking flow example

[2019-12-16 11:30] #123 closed

[2019-12-16 11:30] #124 closed

[2020-01-28 04:50] xuziheng1002 opened #127 "Hook model can not support the object it defined primary key with CharField"
I defined a model like below:
[code]

the code_generator return string like TC-18442386587087147008

And when I try to approve the ticket to next stage:
[code]

but django returns ValueError: invalid literal for int() with base 10: 'TC-18442386587087147008'

I realized that that Hook model was be defind a IntegerField in source code :
[code]

In this case, I have to change it to:
[code]

So if you

[2020-01-28 08:21] javrasya commented on #127
Hi @xuziheng1002 ,
I don't think you should change the model in the library since it will be very hard to maintain it for you.

Why do you use a custom primary key? You can still have the column ``code`` as ``unique=True`` instead but not the primary key. Is there really any value of using it like that for you?

[2020-01-28 11:45] xuziheng1002 commented on #127
Thanks for your response,
there are some development specifications on PK field in our company, the one of spec is `do not use mysql auto_increment` so we use custom PK(snowflakeid) Instead it as usual.

As above if I change `object_id` in Hook to  `models.CharField` , is that OK in this case.

this is version info in my project:
django-river version:3.1.0
django version:1.11

[2020-01-28 11:49] javrasya commented on #127
The first impression that I have on that is that it shouldn't be a problem as long is it matches with the your primary key type. But it will be a manual step to install your app.

[2020-01-28 11:49] #127 closed

[2020-01-28 12:29] javrasya commented on #127
I think it should be charfield in the library as well. I am looking into it. Maybe in the next version, you wouldn't need to modify it manually.

[2020-01-28 12:54] javrasya opened #128 "Models with string typed primary keys violates integer field in the hooks"
**Description:**

As @xuziheng1002  has reported in issue #127;
Since the object id fields in the hook model classes are positive integer field, it is impossible to have models with string primary key field.

**Acceptance Criteria:**

* It should be Charfield instead of PositiveIntegerField as it is in [Transition](https://github.com/javrasya/django-river/blob/master/river/models/transition.py#L44

[2020-01-28 13:25] javrasya opened #129 "Available approvals are not found properly when primary key is string"
**Description:**

`django-river` is unable to find available approvals for the user when the primary key is a custom string type.

**Description:**
* Cast object id's in transition approvals to string while finding the available approvals

[2020-01-28 13:29] javrasya commented on #127
There is another bug I discovered. All the tests I have done so far have been with models with integer primary keys. it turns out the core has some problems with the string primary keys. I am working on a fix that I will bundle it with the schema change and hopefully publish it as another version soon (3.1.1).

I think you should wait for the next version @xuziheng1002

[2020-01-28 13:47] #128 closed

[2020-01-28 14:34] #129 closed

[2020-01-28 14:39] javrasya commented on #127
New version (`3.1.1`) has just been published with the changes that you need @xuziheng1002, can you try it out.

[2020-01-29 04:30] xuziheng1002 opened #132 "Can not approve if input the params of <next_state>"
This is my states:
init,doing,doing2,done

this is my transition meta approvals;
init->doing
init->doing2
doing->done
doing2->done

django.db raise following error when I try to approval to next state:
[code]

errors:
[code]

mysql:8.0
django:1.11
django-river:3.1.0
python:3.6.x

[2020-01-29 05:12] xuziheng1002 commented on #132
I think that is a bug between Django-ORM and MySQL,
following is the one of solutions, but it will cost more performance,

Iterative the queryset then update/save the object one by one, instead of useing update function in queryset:
river\core\instanceworkflowobject.py: 203
[code]

[2020-01-29 08:28] javrasya commented on #132
Hey @xuziheng1002 , I will look into this and try to run the tests with MySQL @xuziheng1002 .

[2020-01-29 08:49] xuziheng1002 commented on #132
this issue not only appears at approva(next_state)  but also appears at `jump_to`.
I think they are same issue

[2020-01-30 00:20] javrasya commented on #132
This is a very weird behavior of MySQL it doesn't allow the tables that are also in the select query to be updated. Since those items are not too many, it is fine just to loop them in python and save them. I tested it with MySQL 8.0 but tests are still complaining about older versions (5.6 and 5.7). I will work more on that to see what it is that is not liked with the older versions.

[2020-01-30 11:36] javrasya opened #133 "Support MySQL 8.0"
**Description:**

Select and update the feature of `Django` sometimes doesn't work with MySQL. Those lines that are affected by this can be changed to the pythonic way of getting updated and saved individually since they are not too many items to support MySQL 8.0

**Acceptance Criteria:**

* Set up automated integration tests with MySQL 8.0
* Instead of using `queryset.update(...)`, loop through

[2020-01-30 11:43] javrasya commented on #132
Hey @xuziheng1002 , [This PR](https://github.com/javrasya/django-river/pull/134) should fix your problem out of the box. I will release this as soon as the tests are passed on the PR and you can use the next patch version which is `3.1.2` when it is published.

Just so you know, It is not possible to support lower version of MySQL. It is only MySQL 8.0 which is supported.

[2020-01-30 12:00] #133 closed

[2020-01-30 12:00] javrasya commented on #132
The new version is published. Closing this issue.

[2020-01-30 12:00] #132 closed

[2020-02-03 14:27] lucilecoutouly opened #135 "django 3 compatibility"
hello, Is it possible to have django 3 compatibility ?
thanks

[2020-02-03 14:29] javrasya commented on #135
Hi @lucilecoutouly,
I will look into this soon, hopefully, this week.

[2020-02-03 15:05] javrasya commented on #135
Hi @lucilecoutouly , It is supported by a shiny version which is `3.1.3`. Let me know if you still have some problems with it.

[2020-02-03 15:05] #135 closed

[2020-02-04 13:21] xuziheng1002 opened #137 "AttributeError: 'TransitionApproval' object has no attribute 'iteration'"
Program raise error as title when I try to jump state

Is this a bug? I think  `iteration` is a field in `Transition` model, not TransitionApproval

source in river.core.instanceworkflowobject.py (line:91)

[code]

[2020-02-04 14:00] xuziheng1002 commented on #137
I think it should be `self.recent_approval.transition.iteration` (current: `self.recent_approval.transition.iteratio`)
is that right?

[2020-02-04 14:04] javrasya commented on #137
Hi @xuziheng1002
At first glance, it seems to be. I would appreciate it if you can create PR with a test case for this. Otherwise, I can do it sometime this week.

[2020-02-04 14:23] xuziheng1002 commented on #137
OK, I will create PR with testCase this week.

[2020-02-04 14:33] javrasya commented on #137
Here is where `jumping to a specific state` test case is. I don't know why it doesn't manage to catch this. But it is a good starting point to get some inspiration;

https://github.com/javrasya/django-river/blob/master/river/tests/core/test__instance_api.py#L1577

[2020-02-04 15:06] xuziheng1002 commented on #137
ok, is there any document that let me know how to initialize test db?
it seems should use the migration file in river.test.tmigration/* , isn't it?

[2020-02-04 15:10] javrasya commented on #137
Unfortunately no documentation but if you want to run the tests with `tox` you don't need to do anything.
But if you want to run them through `PyCharm`, just run `python manage.py migrate --run-syncdb
` before you run the tests.

[2020-02-06 08:52] javrasya commented on #137
Do you need the new version released on PyPI immediately @xuziheng1002 ? Or can you use it from GitHub until it `3.1.4` is released? Otherwise, I can release a hotfix release today.

[2020-02-07 13:34] xuziheng1002 commented on #137
Fixed it in #139
Close

[2020-02-07 13:34] #137 closed

[2020-02-11 16:46] PS-CR7 commented on #45
Hi, I am facing the same issue.Whenever i am trying to add new ticket, I am getting error ,cannot insert duplicate key in object 'dbo.river.transitionapproval'. The duplicate key value is (<NULL>). I am using River 3.0.0,Pyodbc-azure 2.1.0.0.
Whats the solution for this??

[2020-02-12 10:14] PS-CR7 opened #140 "Pyodbc-azure unique key error"
Hi, I am facing the same issue as #45. Whenever i am trying to add new ticket, I am getting error ,Violation of UNIQUE KEY constraint 'UQ__river_tr_6fe987667dhdjsj008'. Cannot insert duplicate key in object 'dbo.river.transitionapproval'. The duplicate key value is (). I am using River 3.0.0,Pyodbc-azure 2.1.0.0.
Whats the solution for this??

[2020-02-12 11:42] PS-CR7 commented on #140
For transactioner_id, it is taking value as None instead of auth_user.id
Also, for transaction_date , it is taking None. I feel that is the cause of error. Can you also, point out ,location of  code where when I add data in my model, transitionapproval table population triggers.

[2020-02-12 16:30] PS-CR7 commented on #140
So, i edited the columns it was giving error on from table. Now , i am getting new error, Incorrect syntax near 'cte'. Incorrect syntax near ','. What is the meaning of this? And how to resolve this?

[2020-02-13 10:23] PS-CR7 commented on #140
Where can I find the code description for get_available_approvals method? It seems it is not able to get object from transitionapproval table for the user.

[2020-02-14 03:26] PS-CR7 commented on #140
One more error i got with cte was, SQL Server Error, “Invalid usage of the option FIRST in the FETCH statement.Incorrect syntax near 'cte'. Incorrect syntax near ','. "

[2020-02-17 11:20] javrasya commented on #140
Hi,
@PS-CR7 , simple answer to all of those is that, I am afraid, `django-river` doesn't support Microsoft SQL Server. I am looking into this to customize the SQL queries when the driver is for Microsoft SQL Server but it doesn't seem to be able to go out soon.

[2020-02-18 13:55] javrasya opened #141 "Support Microsoft SQL Server"
**Description:**

The way how django-river finds what is on approval is that it is using a library that is called `django-cte` which allows us to do some more advanced queries like windowing, joining two datasets, etc. It doesn't work with Microsoft SQL Database

**Acceptance Criteria:**

- Maybe implement a custom SQL scripts instead of using cte but to do the same thing. Different SQL script can

[2020-02-18 13:56] javrasya commented on #140
I am not promising anything but at least we have a ticket ( #141 ) for this which you can follow;

[2020-02-18 14:12] PS-CR7 commented on #140
Yeah, appreciate you updating about it. I was thinking the same that it doesn't support, because of errors. Thank you .

[2020-02-19 18:15] PS-CR7 commented on #140
Hi, I just want your thoughts on this. My requirement is to use river for api only. So, If I can host my project data on sql server and Workflow data on sqlite db. Do you think, it will work?

[2020-02-19 21:22] PS-CR7 commented on #140
Also, how much is river customizable. I am not using Django user instead my own user table. Also,  transition and transition approval table will be populated using code in views.py in my case,since I will be reading data from react ui and then populate it. Will that work?

[2020-02-20 09:47] javrasya commented on #140
The only dependency of djangor-river with your data model is that your model contains a state field that is a foreign key to django-river's `State` model. So I don't think it is possible to separate these two to separate databases since you can't have foreign keys cross databases ( [cross-database-relations](https://docs.djangoproject.com/en/3.0/topics/db/multi-db/#cross-database-relations) ). But

[2020-02-20 10:05] javrasya commented on #140
django-river uses the given user model that is specified with `settings.AUTH_USER_MODEL`. As long as you have that variable set to be a different user model, django-river should work just fine. But feel free to report a bug if it doesn't work. Because it is meant to be working.

[2020-02-26 12:41] mailjatinverma opened #142 "lazy reference to 'river.transition', but app 'river' doesn't provide model 'transition'."
Error message obtained:
raise ValueError("\n".join(error.msg for error in errors))
ValueError: <function GenericRelation.contribute_to_class.<locals>.make_generic_foreign_order_accessors at 0x7f25568f01e0> contains a lazy reference to river.transition, but app 'river' doesn't provide model 'transition'.
<function GenericRelation.contribute_to_class.<locals>.make_generic_foreign_order_accessors at

[2020-02-26 12:44] mailjatinverma commented on #142
The above Error message is obtained when I try to migrate river plugin after upgrade. Also, note transition table is not present in DB.
"python manage.py migrate river"

[2020-02-27 11:00] mailjatinverma commented on #142
using version river 1.0.2

[2020-02-27 11:01] javrasya commented on #142
Hi @mailjatinverma ,

Are you trying to upgrade it to the latest from `1.0.2` ? Which migration file exactly are you observing this behavior? And which `Django` and `Python` version are you using?

[2020-02-27 12:33] mailjatinverma commented on #142
Are you trying to upgrade it to the latest from 1.0.2 ?  Yes.
Which migration file exactly are you observing this behavior? 0002_auto_20190920_1640
And which Django and Python version are you using? django=2.2.2 Python 3.6.9

[2020-02-27 12:49] javrasya commented on #142
We needed to introduce massive changes in order to prevent some performance issues and critical bugs. It is not possible to have an automated migration from `1.0.0` to even `2.0.0`. I am afraid the support has been dropped for those versions below `2.0.0` and there is no out of the box migration for it. You need to recreate django-river tables fresh as if you have just started using django-river a

[2020-02-27 12:51] javrasya commented on #142
The migrations have been reset after v 2.0.0

[2020-02-27 12:57] mailjatinverma commented on #142
The versions you are talking about are for Django? river?

[2020-02-27 12:59] javrasya commented on #142
I am talking about `django-river`.

[2020-02-27 13:01] mailjatinverma commented on #142
Sure. Thanks. Gotit.

[2020-02-27 13:01] javrasya commented on #142
No worries.

[2020-02-27 13:01] #142 closed

[2020-03-16 13:34] javrasya commented on #140
Hi again @PS-CR7 ,

I think `django-river` can now support Microsoft SQL Servers after I put some love into it  😄  🎉 🎉 🎉

But it is not merged yet and it is definitely up for testing. It is on a branch named `issue-141-support-microsoft-sql` . Can you give it a try to see if you observe any problem so that we can improve it even? You can install it from this branch of the repo instead of pypi.

[2020-03-17 15:40] #141 closed

[2020-03-17 16:12] javrasya commented on #140
This problem should go away after version 3.2.0 which has already been published. Try it out and report if you observe any new problems

[2020-03-17 16:12] #140 closed

[2020-04-08 19:02] neowenshun opened #145 "[question] Customizable UI?"
Hello i am looking to implement a workflow engine using django-river , however i do not wish to do it via the admin interface , is it possible to utilize in a normal view , template etc?

[2020-04-09 07:09] javrasya commented on #145
Hey @neowenshun , it is possible to set up your workflow by using out of the box Django admin as well. Here is a programmatic workflow  generation example;

https://github.com/javrasya/fakejira/blob/master/base/management/commands/bootstrap.py

You can generate the same objects on Django admin on each of their pages.

[2020-04-13 15:14] neowenshun commented on #145
Hey @javrasya thank you for replying to me i greatly appreciate it and i will try it out!

[2020-04-13 15:38] neowenshun opened #146 "[question] Is file uploading supported?"
Hello , im trying to implement a workflow where by the user can upload documents for approval , is it possible to have such functionality here in django-river ? If so , may i ask how it would be done? Thanks!

[2020-04-14 06:35] javrasya commented on #146
Hi @neowenshun
`django-river` can be extended as much as you like since it is built with native `Django` API. `django-river` is of course not supporting such a thing but it consists of a bunch of Django models which you can refer to in your own models as Foreign Key. What I can suggest is that you can implement that feature in your app and have the integration of django-river under the hood.

For

[2020-04-15 06:44] neowenshun opened #147 "[question] Assigning users to a task"
Hello , sorry if im asking a bad question , but, im a little bit confused with how the user assignment works. There's some materials here but i don't quite fully understand how i would put it together. [https://django-river.readthedocs.io/en/latest/authorization.html](url)
I wish to be able to 'assign' users to the task so that ill be able to filter tasks which are specific to this user and not le

[2020-04-15 07:02] javrasya commented on #147
Hi @neowenshun , no worries. I think it is the documentation itself that should be more intuitive.

But let me explain the way how you configure your authorizations here then. There is this model of `django-river` which is called [TransitionApprovalMeta](https://github.com/javrasya/django-river/blob/master/river/models/transitionapprovalmeta.py#L28). Sorry for the naming but it is hard to rename s

[2020-04-15 07:05] javrasya commented on #147
If you wonder how you fetch those approvals or what you called tasks by given user, there is [a django-river API](https://django-river.readthedocs.io/en/latest/api/class.html#get-on-approval-objects) which would help you to fetch it. It will basically apply your authorization rules in the workflow and fetch stuff accordingly.

[2020-04-15 09:20] neowenshun commented on #147
Hey thanks , i will try them out , hopefully would not have anymore questions!

[2020-04-15 09:36] neowenshun opened #148 "[question] API to show entire history of the workflow object"
Hello , sorry for more questions again , I was browsing through the API guide , however , there doesn't seem to have an API which enables me to draw out the history of that particular object , meaning who did what , who is the next in line etc. Exploring a little bit more into river-admin shows me that its possible to do. There is a similar post here :
[https://github.com/javrasya/django-river/iss

[2020-04-15 10:17] neowenshun commented on #147
Hey @javrasya would it be possible to assign the permissions based on each individual 'task' or workflow instance? It seems like the permissions is 'set' during the phase where im building the blue prints of the workflow itself

[2020-04-15 12:17] neowenshun commented on #147
Because for my case , what i wish to do is to be able to specify different permissions on the same workflow class for  the same transition.

For example , department 1 can have access to the entire workflow instances that have their permission on it , department 2 can have access to the entire workflow instances .

This is contrary to having department 1 allowed in certain processes , department 2

[2020-04-16 12:27] neowenshun commented on #148
Hello , upon further investigations , i realize i wasn't reading deep enough. I found out that you could simply query this particular model (it logs all transition approvals) [https://github.com/javrasya/django-river/blob/master/river/models/transitionapproval.py](url) whereby object_id == the workflow instance pk , and thus all transactions can be captured from over there!

So something like Tran

[2020-04-16 12:27] #148 closed

[2020-04-16 12:27] #145 closed

[2020-04-21 12:47] dmmcdannald opened #149 "[question] Is there a plan to allow changing transition approval permissions based on the workflow instance object?"
I am trying to integrate this work with a team/role based permission scheme where a user from team A can add a request to team B and only team B can work on it until review which would have to be done by somebody from team A. Team B would follow the same work flow as team A but the approvals would swap based on who the request was created for. I am trying keep with the same mentality of dynamic pe

[2020-04-23 16:11] neowenshun opened #150 "[question] If and switch flows ?"
Hello , just wondering if it was possible to do a if / switch kind of flow based on certain conditions . Lets say it was disapproved, then it would take a different route. Is that possible for django-river?

[2020-04-25 09:16] softMaina opened #151 "[Question] Integrate with client side"
I haven't seen a way of integrating django-river with custom dashboard for use by non-admin users in the docs.
I am wondering if there is a way to do so.

[2020-04-27 06:59] javrasya commented on #151
Hi @softMaina , I am not really sure what do you mean by a dashboard for non-admin users. Can you be more specific on what do you mean by that?

[2020-05-15 01:45] Kiel-Hyre opened #153 "Delete transmeta, states, workflows, tickets locked"
Hi,
So i just started using the app and so i tried to mess up first with the tutorial
and the https://github.com/javrasya/fakejira

It was good, tho i just find some of the behavior of the models weird?

1. I can't delete states. transition meta and workflow. [though i saw the code it was =PROTECT] but.
the bad thing is that whenever a ticket was created and i deleted a transition approval [which

[2020-05-16 06:43] arjun2504 opened #154 "get_available_approvals() not working with graphql_jwt.backends.JSONWebTokenBackend"
I am using Graphene with Graphene JWT for authentication. When I call get_available_approvals(), I get an error:

```'JSONWebTokenBackend' object has no attribute 'get_all_permissions'```

I do not know if this to be handled form djnago-river or JSONWebTokenBackend. Just want to let you know.

[2020-05-17 12:29] Kiel-Hyre commented on #153
I searched some of closed issue its seems this is a copy of https://github.com/javrasya/django-river/issues/89,
but my suggestion is to make also =PROTECT the involved transition approval meta? so it cant be deleted if there was ongoing process, unless all done which allows now to delete the metas etc.

[2020-05-17 12:36] #153 closed

[2020-05-17 17:28] rupin opened #156 "Migration file not found"
Hello!

I am deploying the following [repo](https://github.com/rupin/WorkflowEngine) to Heroku and my migration seems to be failing as follows.

I did the following
Step 1
a) Purged my POSTGRESQL Tables
b) Deleted Migrations file
c) Commented Removed Foreign Key relations with the State Class
d) Made Migrations, which obviously had no dependencies to django river.

Release Success

Step 2
a) Uncom

[2020-05-17 18:38] rupin opened #157 "get_available_approvals() does not have destination and source state references"
Hello!

the documentation of `get_available_approvals` suggests the object returned after the execution has `destination` and `source` state references, but they are through the `transition` object.

[2020-05-18 14:19] rupin commented on #157
I made the change on my side. Please see this diff
https://github.com/rupin/WorkflowEngine/commit/11aa951cbcd1e110dfe008e6c524c03311ea4172#diff-2a5d907555493e832fb037724823fdd0

[2020-05-18 14:23] rupin commented on #150
You can do this with hooks.

Hooks are essentially functions that execute before a stage is approved  and after a stage is approved. Please see https://django-river.readthedocs.io/en/latest/hooking/index.html for more information. Because the conditions will be different for every implementation of django-river, i don't think there would be a  easier way to map business logic in the module.

[2020-05-18 14:29] rupin commented on #149
You will need to create two workflows with two StateFields.

Team A creates a workflow for one statefield, and are only given permission to approve the specific last stage either through a Team A group or through individual permissions.

Same applies to Team B.

This is not really the best solution, because it is easy that Team C will come sometime in the future and mess up everything.

[2020-05-18 14:42] dmmcdannald commented on #149
Thanks for the reply. Currently we have 4 teams with intentions of expanding so I don't think this will be a viable solution for me. With this being more of a question than a issue I will be closing it. I decided to write my own workflow tailored to my use case.

[2020-05-18 14:42] #149 closed

[2020-05-20 09:55] neowenshun opened #158 "Getting transitionalapproval serializer problem"
Hello , thank you so much for the earlier response. Im trying to build the workflow with DRF , however im encountering some issues.

From my understanding , the transitionapproval model has a many to 1 relationship with the workflow object.

So here

`class Project(models.Model):
    project_status = StateField(editable=False)`

 i defined my project workflow class .

`class ProjectSerializer(seri

[2020-05-20 12:51] neowenshun commented on #158
I have ammended the code : to be

`class TransitionApprovalSerializer(serializers.ModelSerializer):
    class Meta:
        model = TransitionApproval
        fields = ['id', 'workflow', 'transition', 'permissions', 'groups', 'priority', 'status', 'transactioner', 'meta', 'object_id']

class SalesProjectDetailSerializer(serializers.ModelSerializer):
    transitionApproval = serializers.SerializerM

[2020-05-22 06:04] jasondalycan opened #159 "Loop in approve() Function"
I have a workflow that has two cyclic paths (which River supports as per the documentation) but when invoking the approve(as_user, next_stage_id) function the database is queries in an infinite loop causing lock wait timeouts and the application comes to a halt.  I've looked through the code and have identified the culprit function to be **_re_create_cycled_path()** within **instanceworkflowobject

[2020-05-22 13:37] debugskeleton opened #160 "start workflow on an existing object"
I would like to be able to assign the recently updated workflow to an existing model that was created before the workflow was defined.  is there a way to accomplish this?

[2020-05-23 03:28] cyberdude86 commented on #159
I seem to have run into the same issue with a very simple return to initial state scenario.

Queue->assign
Assign->review
Review->reject
Review->complete
Reject->queue

[2020-05-23 06:45] jasondalycan commented on #159
@cyberdude86 try this fix.  See lines 276, 296 and 317 as the primary methods of fixing this loop (detecting the 'cycled_transitions' and excluding them with a filter.  Please note that I've added a number of print() debug statements which can be ignored.  To use this file please do the following:

-  Backup /usr/local/lib/python3.6/site-packages/river/core/instanceworkflowobject.py (this is where

[2020-05-24 02:29] debugskeleton commented on #159
new issue alt account for @cyberdude86

workflow stop unexpectedly here is the approvals exported

`'[{"model": "river.transition", "pk": 604, "fields": {"date_created": "2020-05-24T02:01:49.407Z", "date_updated": "2020-05-24T02:01:52.377Z", "content_type": 3, "object_id": "
96", "meta": 13, "workflow": 2, "source_state": 1, "destination_state": 3, "status": "done", "iteration": 0}}, {"model": "ri

[2020-05-24 08:10] rupin opened #161 "Deleting the selected flow would require deleting the following protected related objects"
I am trying to delete the entries associated with the model that has the Statefield. I am unable to delete them, because the TransitionalApproval Objects are protected. Please see a video of this in action here.

https://youtu.be/Sin5zWeC0QU

Is this a setting?

My Django River version is django-river==3.2.0

[2020-05-24 20:32] cyberdude86 commented on #161
They are protected objects but I found that you can do a filter for the object_id relating to the state field object and delete all records of TransitionalApprovals model and it will allow you to delete the record

[2020-05-25 06:33] rupin commented on #161
Will this be need to be done from the database by issuing queries? I don't have access to it on my instance.

[2020-05-25 20:00] cyberdude86 commented on #161
I do a direct query and then delete each result in order to allow me to delete the parent

[2020-05-28 02:17] AngelLiang opened #162 "[Help]A workflow path state tranform error"
Hello, thank you for your project, it's a great project and I very like it. When I use it, I meet some problem.

I make a workflow path as follow:

![图片](https://user-images.githubusercontent.com/11804072/83088385-1389fb00-a0c6-11ea-99eb-b556f7d50da1.png)

when I walk the path: `draft -> issued -> received -> closed` (order 3)
It's right and that's what I expected.

When I walk this path: `draft -

[2020-06-02 07:40] javrasya commented on #162
Sorry for late response @AngelLiang , Let me test this flow today and get back to you.

[2020-06-02 07:42] javrasya commented on #161
This is a dangerous operation since you can accidentally delete critical things if it was that easy but the reason those objects are protected is that they might be used by other objects. But it should definitely be documented to at least how to do this manually.

[2020-06-02 07:44] javrasya commented on #156
Hi @rupin ,

Did you upgrade djangor-river recently? Can you check the migration documentation to see if you are missing it;

https://github.com/javrasya/django-river#migrations

[2020-06-02 07:45] javrasya commented on #159
Let me see what is the problem with your flow and get back to you guys.

[2020-06-02 07:49] javrasya commented on #150
@rupin is so right on that. You can still use django-river API in your hooking functions and simply transit the object to a new state according to your conditions.

[2020-06-02 07:50] javrasya commented on #146
Closing this due to no activity.

[2020-06-02 07:50] #146 closed

[2020-06-04 12:44] cyberdude86 opened #164 "Backward flow step"
Is there a built in method to indicate an approval model was a backward step?

[2020-06-06 09:15] nabinkhadka commented on #24
Is this still present?
[code]

[2020-06-08 06:35] javrasya commented on #24
Hi @nabinkhadka ,

The field is removed long ago because it was not needed and it was bringing confusion.

[2020-06-08 06:37] javrasya commented on #164
Hi @cyberdude86 ,

What do you mean by a backward step? Do you mean a transition where it circles?

[2020-06-08 12:36] cyberdude86 commented on #164
Correct, I am trying to indicate when a a circular “reject” occurs.

[2020-06-08 14:40] javrasya commented on #164
There is no exposed API like that but you can use the easy way that django-river internally uses to detect cycling transitions.

See this;

https://github.com/javrasya/django-river/blob/master/river/core/instanceworkflowobject.py#L227

[2020-06-08 14:43] javrasya commented on #164
I don't recommend you to use that method that is meant to be private and internal and rely on it. Things can in django-river and it would make it harder for you to upgrade. Since it is a trivial one, you can steal the code and put it in your app.

[2020-06-10 13:32] neowenshun opened #165 "Distinguishing if the workflow is 'completed' or'dropped'?"
Hey i have been messing with the package for sometime now and would like to raise a question.
In real life scenarios , the workflow can either be treated as deactivated / dropped , or successfully completed . Its possible to replicate this by creating a branch to a final state. However , because the states can be named anything , it would not be possible for the program to recognize if the state i

[2020-06-22 21:41] jasondalycan commented on #159
@javrasya any luck with this?

[2020-07-01 16:46] lunswor opened #166 "Having transitions that can return to each other causes recursive loop"
When trying to approve a state which has the flowing state transitions I can go from state1 to state2 but when trying to go back to state1, I end up in an infinite loop in `_re_create_cycled_path`.
[code]

Here is a reproducible test case. Am I doing something wrong / missing something or is there a workaround?
[code]

[2020-07-18 11:21] javrasya commented on #159
Hi @jasondalycan and @cyberdude86 , There is a bug in django-river as you stated above. Where there are more than one cyclic dependency it infinite circuilar loop when the first cyclic transition goes through. [This PR](https://github.com/javrasya/django-river/pull/167) should fix your problem. I will release that change as soon as possible. So please follow it up and update `django-river` version

[2020-07-19 21:30] javrasya commented on #159
Hi again, the new patch version that contains the fix has just been released. Update django-river version in your projects to be `3.2.1` please.

https://github.com/javrasya/django-river/releases/tag/3.2.1

[2020-07-19 21:34] javrasya commented on #166
Hi @lunswor , this seems to be duplicate of #159 and it should be fixed by PR #167 . It has just been released in the new patch version of `3.2.1`. Can you upgrade django-river version to be that one in your project and see if your problem went away.

[2020-07-19 21:41] javrasya commented on #165
Hi @neowenshun , that is the way how django-river is designed. I mean, everything is meant to be a row in a database table so they can be changed anytime without touching the code. By nature, this is the responsibility of the developer who builds the app that uses django-river. You can create those states in the DB and make sure they can't change in a way so you can refer them in your code. But dj

[2020-07-19 22:00] javrasya commented on #165
But if you want to check if your object is on the final state meaning that the workflow is completed for that object you can use instance level [on-final-state](https://django-river.readthedocs.io/en/master/api/instance.html#on-final-state) api to know if the workflow is complete. That is best django-river can do unfortunately.

[2020-07-20 09:41] javrasya commented on #162
Hi @AngelLiang , there was a bug in django-river. The part which was canceling all impossible future transitions was misfunctioning. PR #168 should fix your problem when it is released.

Keep in mind that the bug has turned the Closed transition of your workflow to CANCELLED. So the workflow objects that have been created before this bug will still not be able to be closed. But those objects that

[2020-07-20 14:32] javrasya commented on #159
Feel free to create a new ticket if the fix doesn't solve your problem

[2020-07-20 14:32] #159 closed

[2020-07-20 14:32] javrasya commented on #166
Feel free to create a new ticket if the fix doesn't solve your problem

[2020-07-20 14:32] #166 closed

[2020-07-20 14:32] #164 closed

[2020-07-20 14:33] javrasya commented on #156
Feel free to create a new ticket if the suggestion doesn't solve your problem

[2020-07-20 14:33] #156 closed

[2020-07-20 14:34] javrasya commented on #151
Feel free to create a new ticket if the problem still persists.

[2020-07-20 14:34] #151 closed

[2020-07-20 14:34] javrasya commented on #150
Feel free to create a new ticket if the question still persists.

[2020-07-20 14:34] #150 closed

[2020-07-20 14:36] javrasya commented on #165
Feel free to create a new ticket if the question still persists.

[2020-07-20 14:36] #165 closed

[2020-07-20 14:45] javrasya commented on #162
The changes have been published in the django-river version `3.2.2` @AngelLiang . Please upgrade django-river version to be that one and let me know if your problem is still in place. Feel free to create a new ticket if so.

[2020-07-20 14:45] #162 closed

[2020-07-20 15:22] lunswor commented on #166
Thanks i'll give it a test.

[2020-08-27 15:42] atorres-dt commented on #161
I agree that, even if it's not available directly, it should be documented how to safely do this

[2020-08-27 20:54] javrasya opened #170 "Support statically defined callback functions"
Callback functions can today be registered dynamically by persisting the body of the method in the DB to conform even more to what django design idea is. But not all the workflow users are fond of this method where they can simply define callback methods statically from their workspace. It is good to have this available in django-river as well.

**Acceptance Criteria:**

- Offer new APIs to regist

[2020-09-05 06:28] theshajha opened #171 "mptt version upgrade."
Hey, first things first, Django-river has been a life saver for building an approval flow system.

I did run into an issue that I think most people would too, it does not support Django > 3.0. Let me explain how, it uses Django-mptt (0.9.1) which has dependency on Django.utils.six which is no longer available with Django (>3.0).

I had to manually reset the version of Django-mptt to latest for it

[2020-09-16 16:24] julialoh opened #173 "[question] Does this work with client side?"
My app is comprised of a form. I was wondering if it's possible to use django river so that when a client (non-admin) submits the form, the data automatically updates state to something like "Approved," which then awaits approval by an admin. Is this possible?

[2020-09-17 19:36] javrasya commented on #173
django-river allows to track any flow on any model object. You can have a model that is with a django river state and you can create your flow that consists of two state like Initialized -> Approved by using the admin. It is up to you how you want to create a flow. Then all you need to do is to create an object of this model every time your non admin user submits a form. Then you can implement som

[2020-09-18 13:27] julialoh commented on #173
Thank you for the comment!! Right now when I submit the form, the state automatically is Draft and an admin has to change it to Pending Approval, Pending Approval->Approved, etc. Do you know if it would be possible to do something along the lines of a user submits one form, and that object enters the Draft state, but when they update the form in UpdateView, the object enters the Pending Approval s

[2020-10-26 03:52] xuziheng1002 opened #174 "how to define a backward workflow"
A workflow like   A -> B -> C
In some scenarios workflow need to backwards like : from C back to B
Is it must inset a middle node for backwords？like C -> D -> B

Can't I make it directly like C  -> B ,does it make loop or trouble?

[2020-10-27 15:00] javrasya commented on #174
Easy to test @xuziheng1002 , Please check the feature to see if it is the scenario you are describing (https://github.com/javrasya/django-river/commit/72cdd6d148d158eeb4f2e8b36da81b96fd4f1517)

If so, I ran it and it works just fine. Feel free to elaborate and add more scenarios with the workflow if you want to see more.

[2020-10-30 07:14] xuziheng1002 commented on #174
Yes, I have do the test, it goes well. issue close.

[2020-10-30 07:14] #174 closed

[2020-12-05 12:30] longshine opened #175 "[Question] Support of multiple workflows for one state field"
Hi,

First of all, thank you for your excellent work. This project is quite elegant and resourceful.

I am wondering how to implement multiple workflows for one single `StateField`, or do you have any plan for supporting it?

For now a `Workflow` is determined by the model name and the field name. To have multiple workflows, more state fields need to be added. However in my situation, I need dynam

[2020-12-05 21:12] javrasya commented on #175
Hi @longshine , thank you for your good words.

`django-river` supports multiple next steps which means that you can create your workflow like the following;

[code]

When you approve an object that has 2 or more potential next steps, you can pass which next step you want to continue with.  Check the following API documentation out;

[object.approve(as_user=x, next_step=verified_state)](https://dj

[2020-12-06 07:23] longshine commented on #175
Hi @javrasya,

The suggestion above may have some drawbacks.

Let's say we have several groups of users sharing this issue tracking system.
a. Each issue belongs to one group.
b. Each group has its own steps to process issues.
c. Each group can edit its own steps, without changing other groups'.

If we put steps of all groups in one workflow, we may end up with:

[code]

1. The first state after `

[2020-12-06 07:53] longshine commented on #175
Hi @javrasya,

The suggestion above may have some drawbacks.

Let's say we have several groups of users sharing this issue tracking system.
a. Each issue belongs to one group.
b. Each group has its own steps to process issues.
c. Each group can edit its own steps, without changing other groups'.

If we put steps of all groups in one workflow, we may end up with:

[code]

1. The first state after `

[2020-12-06 19:44] javrasya commented on #175
I see. It is possible to create different workflows in the same django model each has its own fully isolated lifecycle and everything. Then you can have different states and transitions for two different flows.
[code]

[2020-12-07 02:05] longshine commented on #175
I am afraid this solution cannot work well in this scenario if the groups of users can be dynamically added or removed,
in which case a lot of status fields have to be added to the `Issue` model, and would be useless if the related groups are removed.

Any other ideas?

[2020-12-27 07:28] simkimsia opened #176 "[Question] How is this the same and how is this different from apache-airflow?"

[2020-12-27 11:40] javrasya commented on #176
Hi @simkimsia ,

django-river is a framework that allows you to run and manage business workflows with an authorization mechanism whereas apache-airflow is for ETL workflows.

[2020-12-27 11:44] simkimsia commented on #176
Thank you

By the way I did a PR to awesome workflow engines https://github.com/meirwah/awesome-workflow-engines/pull/74 adding River and they accepted it

I also am wondering if you have heard of temporal.io and your thoughts if it can work with river for a django project?

[2020-12-31 08:59] abd-Hirz commented on #59
I have change to format_html(content) but I'm not rendering the button to be display in admin page:
![image](https://user-images.githubusercontent.com/51379535/103402950-86c58500-4b5f-11eb-85ed-6096df4ad53f.png)
![image](https://user-images.githubusercontent.com/51379535/103402984-a492ea00-4b5f-11eb-8be3-0cd1fe374667.png)

[2020-12-31 09:23] javrasya commented on #176
Great. Thank you @simkimsia .

[code]

Not really. But thanks for the info, I will check it out.

[2020-12-31 09:37] simkimsia commented on #176
Welcome

By the way, I'm trying to experiment with temporal.io but waiting for a helloworld example from an unofficial Python client.

See https://github.com/firdaus/temporal-python-sdk/discussions/1#discussioncomment-249604 for details

if you're interested, I can update you about this. For now, I will close this issue

[2020-12-31 09:37] #176 closed

[2020-12-31 10:12] abd-Hirz opened #177 "adding transition_approval to ListView"
I'm new to django web framework, currently I have project which I need to use approval task workflow and I found django-river is the best library to be use for this task.
I have followed demo tutorial of django-river, I have two question to complete deploying django-river in my project, using 3.1v django with 3.7 python.

1. the transition-approval action button does not work in my admin page:
![i

[2020-12-31 10:48] javrasya commented on #177
Hi @abd-Hirz ,

Wellcome onboard :-)

Not really sure what you mean by the tutorial but I assume you already are getting your inspiration from the playground [fakejira](https://github.com/javrasya/fakejira) project that uses django-river.

The user that you are passing down to the `get_available_approvals` method must either have the required permissions or be part of the user groups with which yo

[2020-12-31 17:23] abd-Hirz commented on #177
Thanks a lot @javrasya , the issue have been captured as you suggested. I was not assign Transition approval meta. now the workflow is ongoing and will continue develop my app. thanks a lot

[2020-12-31 17:23] #177 closed

[2021-01-01 09:59] abd-Hirz opened #178 "CBV generic views with django-river"
I have successfully utilize django-river in my django admin page.

the question is : Is there a demo or tutorial to utilize django-river in our CBV or FBV.

[2021-01-01 15:45] abd-Hirz commented on #178
I have posted the question into stack overflow
https://stackoverflow.com/q/65529570/12384037

[2021-01-02 11:48] simkimsia opened #179 "How do I make a PR to test for Django 3.1 and Python 3.8?"
I like to use this for a side project.

Currently my side project is on Django 3.1 and Python 3.8.

How do I make a PR to test for these? I know the furthest django-river is on is Django 3.0 and Python 3.6

[2021-01-02 11:56] javrasya commented on #179
Hi @simkimsia ,

Thank you for considering such a thing. Here I am sharing a PR that you can get your inspiration to do so;

https://github.com/javrasya/django-river/commit/40591fc6ec7793b76e42842cde8c6292f6f623a8

[2021-01-02 11:58] simkimsia commented on #179
Thank you @javrasya

As mentioned, I'm going to experiment with river in a side project for now. Even though it's not a commercial or revenue generating project, I'm contributing financially for the next 6 months. It's not a lot but I think every little bit helps?

Good luck!

[2021-01-02 12:01] javrasya commented on #179
Thank you very much @simkimsia for your contribution. On the contrary, every bit means a lot and motivational :-)

Hope It goes well for your project. Let me know if you need an assistance

[2021-01-02 12:07] javrasya commented on #178
To be honest, I don't know how, but let me look into it

[2021-01-02 13:10] simkimsia opened #181 "Drop support for Django 1.11, 2.0, and 2.1 because no longer supported"
![image](https://user-images.githubusercontent.com/245021/103458009-f47bd780-4d3e-11eb-9c88-b32143676482.png)

https://jefftriplett.com/django-release-cycle/

[2021-01-02 13:11] simkimsia commented on #181
I be happy to submit a PR to drop 1.11, 2.0, and 2.1 all at once

[2021-01-02 13:12] javrasya commented on #181
Nice finding. That'd be great.

[2021-01-02 13:17] simkimsia opened #182 "Drop support for python before 3.6"
![image](https://user-images.githubusercontent.com/245021/103458096-c64ac780-4d3f-11eb-97b0-abec125fa177.png)

From https://python-release-cycle.glitch.me/

Drop support for all python that's no longer supported. Best to do this after dropping the no longer supported Django version first in #181

Except 3.5 for Django 2.2 because Django 2.2 still supports 3.5 and Django 2.2 is still active

https:

[2021-01-03 09:43] #179 closed

[2021-01-03 09:43] #181 closed

[2021-01-03 09:43] #182 closed

[2021-01-07 19:05] abd-Hirz opened #184 "Delete object from model"
I succeseed to deploy django-river in my project, but I have minor issue which I can not delete any created one which get approval thru the workflow. I'm always getting this message when ever try to delete object from the admin page.
Deleting the object xxxx would require deleting the following protected related objects:

Transition Approval: TransitionApproval object (1)

I believe the issue with

[2021-01-07 19:15] abd-Hirz commented on #184
I figure out the problem and solve the issue, would you please let me know if you agree with what I did:
I open the source code of django-river : river -> models -> transitionapproval.py

I have been changed the transition field attribute from PROTECT -> CASCADE .
so now I can delete any object from my current model.

Is this modification is is correct and will not make side effect to the rest of

[2021-01-11 09:59] javrasya commented on #184
Sorry for not documenting this bit but that shouldn't result in anything bad on the `django-river` side. Delete the transition approval objects of your object first before you delete it as you figured.

[2021-01-12 19:29] shubhamg2404 opened #185 "How to incorporate multitenancy with django river?"
I am creating a django webapp which will be used by multiple organizations.
I am using https://github.com/citusdata/django-multitenant library which helps in isolation of the tenant's data. Is there a way to change the existing workflow model so that I can have a foreign key related to a tenant model?

[2021-01-24 18:58] abd-Hirz opened #186 "display river status details in DetailView"
I would like to display some the django-river details in my DetailView. is there a way to fetch this data in my template DetailView.

example: workflow "**Draft** - **approved** - **closed**"
who **endorse** the **Draft**, **date** of **endorsement**
who **approve** the object, **date** of **approval**
who **closed** the workflow, **date** of **closure**, etc.

This will help a lot in my current p

[2021-01-27 13:48] xuziheng1002 opened #187 "can I create related_name for <river.models.State>"
I see the source in /river/models/fields/state.py

the code show: `kwargs['related_name'] = "streams"`  in line 49 ,
I think maybe creator would not add relate manager for <models.State>.
is there any reason ?example if define related_name it will works not good?

[2021-01-27 13:49] xuziheng1002 commented on #187
sorrry line number wrong, correct line number is 40.

[2021-02-02 22:13] JohnieBraaf opened #188 "Workflow pattern issue (circular not working)"
I'm running into strange issues with a particular workflow design.
As soon as I go back a step, the transition in the opposite direction does not re-enable.

Say, I move from bewerken to 4 ogen controle and then back to bewerken, I cannot move to 4 ogen controle afterwards.
Any thoughts?

![image](https://user-images.githubusercontent.com/1111346/106669484-0f46a380-65ac-11eb-8581-1404096a9068.png)

[2021-02-02 22:23] JohnieBraaf commented on #188
This simplified design works just fine:

![image](https://user-images.githubusercontent.com/1111346/106670658-9fd1b380-65ad-11eb-9e9e-adb9f07cec37.png)

[2021-02-03 16:50] javrasya commented on #188
Hi @JohnieBraaf, thanks for reporting this. Does it mean that the simplified version is something you can go with?

Regardless, I will look into the first flow and try to reproduce it as soon as possible.

[2021-02-03 21:23] JohnieBraaf commented on #188
Hi @javrasya, yes for now I have worked around this issue by using the second workflow.
If I have time, I will create a demo project over the weekend to demonstrate the issue.

[2021-02-05 13:56] simkimsia opened #189 "Will you consider adding pre-commit to help enforce syntax and formatting standards?"
Hi @javrasya

I have been thinking for a while when I last contributed a PR and I noticed you had to solve my formatting issues.

I now have a python/django coach (Adam Johnson) and he recommended me that he used pre-commit https://pre-commit.com/#install as way he enforced standard formatting issues for all his open source libraries.

I have been experimenting pre-commit for my own private django

[2021-02-07 15:40] JohnieBraaf commented on #188
I have not yet found the time to create a sample project. But I do suspect this piece of code to be the culprit:

https://github.com/javrasya/django-river/blob/master/river/core/instanceworkflowobject.py#L57-L59

[2021-02-07 18:09] JohnieBraaf commented on #188
@javrasya, it seems that you are initializing the complete workflow upon creation of an workflow instance object.
Why not choose for the option of instantiating only the next available transitions/approvals and repeat after each approve?

I'm measuring database read/write and those are huge. Like about 100 per single case creation.
I have created a workaround for this as described above. Please le

[2021-02-07 20:54] JohnieBraaf commented on #188
I have created a commit that:
- creates only 1 iteration of future approvals. this eliminates the issue of re-cycling, so that code gets obsoleted
- some performance optimizations aimed at reducing the number of database calls

https://github.com/JohnieBraaf/django-river/commit/84159da874c217da92c7778feac96f9ea593db50
must be used together with
https://github.com/JohnieBraaf/django-river/commit/0d

[2021-02-08 01:50] redbearder commented on #171
request mptt version >= 0.9.1

[2021-02-08 10:30] javrasya commented on #188
Hi @JohnieBraaf , thanks for giving a thought to this. The thing with that is that it allows customizing the workflow for a specific object. So it is like that by design. I don't think we should change the behavior unless it still supports this.

The only way to make django-river work that way would be to introduce something like overriding rules as part of the workflow which I have been thinking

[2021-02-08 10:33] javrasya commented on #188
You don't need a full-fledged project to re-produce it btw.  Here is an example of reproducing a scenario in a human-readable cucumber test;

https://github.com/javrasya/django-river/commit/72cdd6d148d158eeb4f2e8b36da81b96fd4f1517

[2021-02-08 10:34] javrasya commented on #189
Hi @simkimsia , that sounds like a great idea. To be honest I haven't known about this. So let me have a look at it.

[2021-02-08 11:10] simkimsia commented on #189
Let me know I think I prefer to contribute after u have a precommit settings

[2021-02-10 12:27] JohnieBraaf commented on #188
Thanks for your reply and pointers on creating the test scenario for this.

 I do not fully understand what you mean with the current design allowing customization of a a specific object. The proposed solution increases flexibility and allows for ad-hoc workflow changes, I guess that you try to achieve the opposite.

[2021-02-19 00:22] DanielAron commented on #184
@javrasya , sorry for this dummy question but,
how can I delete the transition approval from an object id?

[2021-03-12 10:10] JohnieBraaf opened #190 "Bug in MSSQL driver (more than 2000 approvals)"
Hi,

Sadly I've stubled upon another (critical) bug. This time in the part that fetches the available approvals.
https://github.com/javrasya/django-river/blob/master/river/driver/mssql_driver.py#L20-L32

A list of approvals is fetched and then used as a filter on the id array for the TransactionApproval model.
When the list of id's is larger than 2000, SQL server runs into a limitation:
- ('42000'

[2021-03-12 10:18] JohnieBraaf commented on #120
This issue will be resolved by the commits referenced in this issue: https://github.com/javrasya/django-river/issues/188

[2021-03-15 20:26] JohnieBraaf commented on #190
I've written a simple fix for the above described issue, by pushing down the workflow object id into the query.
Please see commit: https://github.com/JohnieBraaf/django-river/commit/58f49624c37e1e5d1bdb4c7680810126454e36a6
I see that I have left some debugging code, so please ignore that.

Let me know what you think @javrasya

[2021-03-23 09:42] javrasya commented on #190
Hi @JohnieBraaf. Thanks for reporting this and for the PR. I think this is a bug that should definitely be fixed probably in a similar way you did in your PR.

The thing is that the `get_available_approvals` method is an abstract method that both MSSQL and other DB versions are implementing. So we can't just update it for the MSSQL one.

The other thing is that this method is for fetching all avai

[2021-03-23 10:04] JohnieBraaf commented on #190
Thnx @javrasya for your feedback, I will have a look

[2021-05-21 09:26] MHammad200 opened #193 "When does the hook trigger in django-river?"
Are the hooks trigger before/after db call or it maintians it in the code?

[2021-07-01 15:44] na0495 opened #194 "How can i use django river with django reset framework"
Hi everyone, i m wondering if is it possible to use Django river alongside Django rest framework, and create API view to approve different translation to update the initial state of the workflow.

Thank you in advance for your help.

[2021-07-23 10:29] na0495 commented on #194
Well after a while of thinking about that problem this is the approach I end up using in my current project :

[code]

[2021-07-23 10:29] #194 closed, assigned to nobody

[2021-09-03 19:23] pupubird commented on #188
Facing the same issue, I have the following patterns:

Reviewing -> Reverted -> Reviewing -> Reverted...

The Reverted state after 1 round of circulation was disappeared in Available Approvals list

[2021-09-16 07:05] ampotty commented on #159
the cyclic transition is not working now.We have A->B  , B->A, B->C , B->D..

[2021-09-16 09:47] ampotty commented on #159
The above mentioned problem ie, multiple cyclic transition of django river is solved by degrading the django river version from 3.3.0 to 3.2.0. Please note the upgrade occur so many issues in my project.

[2021-10-25 10:36] ahmedalrifai opened #196 "type object 'TransitionApproval' has no attribute '_mptt_meta'"
Hello to all 👋, great package u have here hope us fix this problem soon

When i try to access TransitionApproval add page in admin it tells me that there is no _mptt_meta atrr

I think to fix it u must let TransitionApproval inherit from mptt.models.MPTTModel

This is my Tracback

[code]

[2021-11-03 12:35] vikassrivastava18 opened #197 "Multiple button shown if User belongs to more than one Group with workflow permissions"
In the case where a workflow state can be changed by more than one Group, if a User belong to more than one of the permitted Groups, multiple buttons are shown in the UI.

Possible workaround:

![django-river](https://user-images.githubusercontent.com/35339124/141053155-32b85aa7-51b9-4838-a0cc-305a38b122f2.PNG)

![workflow-issue](https://user-images.githubusercontent.com/35339124/140061087-e2b9989

[2021-12-08 05:31] #197 closed, assigned to nobody

[2021-12-08 05:31] vikassrivastava18 commented on #197
Seems misplaced, sorry!

[2021-12-13 02:02] AngelLiang commented on #196
hi, I have the same problem, and I have solved as follow:

create `TransitionApprovalForm` to exclude `previous` field and add to `TransitionApprovalAdmin`

[code]

[2021-12-15 06:39] anandrajB opened #198 "Return ticket current state status"
hi , i'm new to river ,

i have gone through the river-documentation . How to get a ticket's current state

i have a ticket model , that has a state changed from 1 to 2 .
how to view that ticket models's current state

like ,   localhost/ticket/1/
          localhost/ticket/2/
 ... based on pk

[2022-04-11 12:00] niranjrajasekaran opened #199 "Error while running django async"
Environment
[code]

I am running django using `asgi`. I have installed `river` and have done DB migrations, Here is my models.py
[code]
I am able to run my application only if the status is commented out or else I am getting this error
[code]

It could be great if someone can give pointers to solve this.

[2022-06-12 14:36] baselakasha opened #200 "Permissions allow users to approver specific records only"
Hello,

I have a use case where the approver needs to be an "admin" of a team in order to approve joining requests. This means that only the admin of that specific team can approve requests.

Is that achievable using the permissions system?

My models look like:

[code]

Once a user create a new team, they automatically have the relationship of admin which is approved.  Then they can approve pendi

[2022-06-27 12:10] gfunch opened #201 "example of usage"
Hi,
I am trying to use `django-river` to track and control the flow of objects in my application.

In particular, I have objects representing document that will pass from the author to a reviewer and then on to a production team, ideally based on a view controlled by a button press. I was intending to have an `owner` field that could be changed to indicate who currently 'has' the document.

At thi

[2022-07-18 14:14] ajheslop opened #202 "Material/Tutorial"
The lack of material available for this is insane. i am unable to find anything relating to it on YT, and the little bit of "instructions" you have available have been no help.

[2022-07-19 11:03] guanjiawen008 opened #203 "how to deal with the namespace"
myurls:
`urlpatterns = [
    path('admin/', admin.site.urls),
    path('', RedirectView.as_view(url='/product/tab/')),
    path('energy/', include(energy_url.urlpatterns)),
    path('sp/', include(sp_url.urlpatterns)),
    path('',include(river_admin_urls.urlpatterns)),
    path("", include(myauth_url)),
    path('api-docs/', include_docs_urls(title='接口文档', description='这是一个接口文档的demo')),
    path(

[2022-10-13 14:21] abd-Hirz commented on #184
@DanielAron Currently this feature are not available in django-river. what I'm doing is adjust the source code and delete the object from my localhost.

[2022-11-10 10:29] vidski opened #205 "Any active fork?"
Does anyone maintain a fork of this project?